openapi: 3.0.0
info:
  title: E621
  description: |
    OpenAPI definition for E621's API. You can find the source [here](https://github.com/DonovanDMC/E621OpenAPI)<br>
    This document is intended to compliment E621's existing [API Documentation](https://e621.net/help/api).<br>
    If the api is not working, you can check this [Unofficial Status Page](https://status.e621.church).
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  termsOfService: 'https://e621.net/static/terms_of_service'
  contact:
    name: Donovan_DMC
    url: 'https://e621.net/forum_topics/46279'
  version: 34def62
servers:
  - url: 'https://e621.net'
    description: E621 (production)
  - url: 'http://localhost:3000'
    description: E621 (Development)
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  parameters:
    id:
      name: 'search[id]'
      in: query
      description: Search for a specific id.
      schema:
        type: integer
    idOrName:
      name: idOrName
      in: path
      required: true
      schema:
        type: string
      description: An ID that can be either an integer or a name.
    limit:
      name: limit
      in: query
      description: The maximum number of results to return. Between 0 and 320.
      schema:
        type: integer
        minimum: 0
        maximum: 500
    page:
      name: page
      in: query
      description: The page number of results to get. Between 1 and 750.
      schema:
        type: integer
        minimum: 1
        maximum: 750
    ip_addr:
      name: 'search[ip_addr]'
      in: query
      description: 'Must be Admin+ to use. See [postgres'' documentation](https://www.postgresql.org/docs/9.3/functions-net.html) for information on how this is parsed. Specifically, "is contained within or equals" (`<<=`).'
      schema:
        type: string
  schemas:
    AccessDeniedResponse:
      type: object
      required:
        - success
        - reason
      properties:
        success:
          type: boolean
        reason:
          type: string
          enum:
            - Access Denied
    NotFoundResponse:
      type: object
      required:
        - success
        - reason
      properties:
        success:
          type: boolean
        reason:
          type: string
          enum:
            - not found
    WarningRecordType:
      type: object
      required:
        - record_type
      properties:
        record_type:
          type: string
          enum:
            - unmark
            - ban
            - record
            - warning
    ModActionActions:
      type: string
      enum:
        - artist_page_rename
        - artist_page_lock
        - artist_page_unlock
        - artist_user_linked
        - artist_user_unlinked
        - avoid_posting_create
        - avoid_posting_update
        - avoid_posting_delete
        - avoid_posting_undelete
        - avoid_posting_destroy
        - blip_delete
        - blip_hide
        - blip_unhide
        - blip_update
        - comment_delete
        - comment_hide
        - comment_unhide
        - comment_update
        - forum_category_create
        - forum_category_delete
        - forum_category_update
        - forum_post_delete
        - forum_post_hide
        - forum_post_unhide
        - forum_post_update
        - forum_topic_delete
        - forum_topic_hide
        - forum_topic_unhide
        - forum_topic_lock
        - forum_topic_unlock
        - forum_topic_stick
        - forum_topic_unstick
        - forum_topic_update
        - help_create
        - help_delete
        - help_update
        - ip_ban_create
        - ip_ban_delete
        - mascot_create
        - mascot_update
        - mascot_delete
        - pool_delete
        - report_reason_create
        - report_reason_delete
        - report_reason_update
        - set_update
        - set_delete
        - set_change_visibility
        - tag_alias_create
        - tag_alias_update
        - tag_implication_create
        - tag_implication_update
        - ticket_claim
        - ticket_unclaim
        - ticket_update
        - upload_whitelist_create
        - upload_whitelist_update
        - upload_whitelist_delete
        - user_blacklist_changed
        - user_text_change
        - user_upload_limit_change
        - user_flags_change
        - user_level_change
        - user_name_change
        - user_delete
        - user_ban
        - user_ban_update
        - user_unban
        - user_feedback_create
        - user_feedback_update
        - user_feedback_delete
        - user_feedback_undelete
        - user_feedback_destroy
        - wiki_page_rename
        - wiki_page_delete
        - wiki_page_lock
        - wiki_page_unlock
        - mass_update
        - nuke_tag
        - takedown_delete
        - takedown_process
        - user_flush_favorites
        - post_version_hide
        - post_version_unhide
        - user_uploads_toggle
        - staff_note_create
        - staff_note_update
        - staff_note_delete
        - staff_note_undelete
        - created_positive_record
        - created_neutral_record
        - created_negative_record
        - created_flag_reason
        - edited_flag_reason
        - deleted_flag_reason
        - post_move_favorites
        - post_delete
        - post_undelete
        - post_destroy
        - post_rating_lock
        - post_unapprove
        - post_replacement_accept
        - post_replacement_reject
        - post_replacement_delete
    PostEventActions:
      type: string
      enum:
        - deleted
        - undeleted
        - approved
        - unapproved
        - flag_created
        - flag_removed
        - favorites_moved
        - favorites_received
        - rating_locked
        - rating_unlocked
        - status_locked
        - status_unlocked
        - note_locked
        - note_unlocked
        - comment_locked
        - comment_unlocked
        - replacement_accepted
        - replacement_rejected
        - replacement_promoted
        - replacement_deleted
        - expunged
        - changed_bg_color
        - replacement_penalty_changed
    Ratings:
      type: string
      enum:
        - s
        - q
        - e
    TagCategories:
      type: integer
      enum:
        - 0
        - 1
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
    FeedbackCategories:
      type: string
      enum:
        - negative
        - neutral
        - positive
    TagRequestStatuses:
      type: string
      enum:
        - active
        - deleted
        - processing
        - queued
        - retired
        - error
        - pending
    WarningTypes:
      type: string
      enum:
        - warning
        - record
        - ban
    PoolCategories:
      type: string
      enum:
        - collection
        - series
    TicketTypes:
      type: string
      enum:
        - blip
        - comment
        - dmail
        - forum
        - pool
        - post
        - set
        - user
        - wiki
    TicketStatuses:
      type: string
      enum:
        - pending
        - partial
        - approved
    Artist:
      type: object
      required:
        - id
        - name
        - updated_at
        - is_active
        - other_names
        - group_name
        - linked_user_id
        - created_at
        - creator_id
        - is_locked
        - notes
        - urls
      properties:
        id:
          type: integer
        name:
          type: string
        updated_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        other_names:
          type: array
          items:
            type: string
        group_name:
          type: string
        linked_user_id:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time
        creator_id:
          type: integer
        is_locked:
          type: boolean
        notes:
          type: string
          nullable: true
    ArtistURL:
      type: object
      required:
        - id
        - artist_id
        - url
        - normalized_url
        - created_at
        - updated_at
        - is_active
      properties:
        id:
          type: integer
        artist_id:
          type: integer
        url:
          type: string
          format: uri
        normalized_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_active:
          type: boolean
    ArtistVersion:
      type: object
      required:
        - id
        - artist_id
        - name
        - updater_id
        - created_at
        - updated_at
        - is_active
        - other_names
        - notes_changed
        - urls
      properties:
        id:
          type: integer
        artist_id:
          type: integer
        name:
          type: string
        updater_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        other_names:
          type: array
          items:
            type: string
        notes_changed:
          type: boolean
        urls:
          type: array
          items:
            type: string
            format: uri
    AvoidPosting:
      type: object
      required:
        - id
        - creator_id
        - updater_id
        - artist_id
        - details
        - is_active
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        creator_id:
          type: integer
        updater_id:
          type: integer
        artist_id:
          type: integer
        staff_notes:
          type: string
          description: Only visible to Janitor+
        details:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AvoidPostingVersion:
      type: object
      required:
        - id
        - updater_id
        - avoid_posting_id
        - details
        - is_active
        - updated_at
      properties:
        id:
          type: integer
        updater_id:
          type: integer
        avoid_posting_id:
          type: integer
        details:
          type: string
        staff_notes:
          type: string
          description: Only visible to Janitor+
        is_active:
          type: boolean
        updated_at:
          type: string
          format: date-time
    Ban:
      type: object
      required:
        - id
        - user_id
        - reason
        - expires_at
        - banner_id
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        user_id:
          type: integer
        reason:
          type: string
        expires_at:
          type: string
          format: date-time
          nullable: true
        banner_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Blip:
      type: object
      required:
        - id
        - creator_id
        - body
        - response_to
        - created_at
        - updated_at
        - is_hidden
        - warning_type
        - warning_user_id
        - updater_id
        - creator_name
      properties:
        id:
          type: integer
        creator_id:
          type: integer
        body:
          type: string
        response_to:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_hidden:
          type: boolean
        warning_type:
          type: string
          enum:
            - warning
            - record
            - ban
        warning_user_id:
          type: integer
        updater_id:
          type: integer
        creator_name:
          type: string
    BulkRelatedTag:
      allOf:
        - type: object
          required:
            - name
            - category_id
          properties:
            name:
              type: string
            category_id:
              type: integer
              enum:
                - 0
                - 1
                - 3
                - 4
                - 5
                - 6
                - 7
                - 8
        - type: object
          required:
            - count
          properties:
            count:
              type: integer
    BulkUpdateRequest:
      type: object
      required:
        - id
        - creator_id
        - forum_topic_id
        - script
        - status
        - created_at
        - updated_at
        - approver_id
        - forum_post_id
        - title
      properties:
        id:
          type: integer
        creator_id:
          type: integer
        forum_topic_id:
          type: integer
          nullable: true
        script:
          type: string
          example:
            - alias a -> b
        status:
          type: string
          enum:
            - approved
            - rejected
            - pending
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        approver_id:
          type: integer
          nullable: true
        forum_post_id:
          type: integer
          nullable: true
        title:
          type: string
    Comment:
      type: object
      required:
        - id
        - created_at
        - post_id
        - creator_id
        - body
        - score
        - updated_at
        - updater_id
        - do_not_bump_post
        - is_hidden
        - is_sticky
        - warning_type
        - warning_user_id
        - creator_name
        - updater_name
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        post_id:
          type: integer
        creator_id:
          type: integer
        body:
          type: string
        score:
          type: integer
        updated_at:
          type: string
          format: date-time
        updater_id:
          type: integer
        do_not_bump_post:
          type: boolean
          deprecated: true
        is_hidden:
          type: boolean
        is_sticky:
          type: boolean
        warning_type:
          type: string
          enum:
            - warning
            - record
            - ban
        warning_user_id:
          type: integer
          nullable: true
        creator_name:
          type: string
        updater_name:
          type: string
    CurrentUser:
      allOf:
        - type: object
          required:
            - id
            - created_at
            - name
            - level
            - base_upload_limit
            - post_upload_count
            - post_update_count
            - note_update_count
            - is_banned
            - can_approve_posts
            - can_upload_free
            - level_string
            - avatar_id
          properties:
            id:
              type: integer
            created_at:
              type: string
              format: date-time
            name:
              type: string
            level:
              type: integer
            base_upload_limit:
              type: integer
            post_upload_count:
              type: integer
            post_update_count:
              type: integer
            note_update_count:
              type: integer
            is_banned:
              type: boolean
            can_approve_posts:
              type: boolean
            can_upload_free:
              type: boolean
            level_string:
              type: string
            avatar_id:
              type: integer
              nullable: true
        - type: object
          required:
            - blacklist_users
            - description_collapsed_initially
            - hide_comments
            - show_hidden_comments
            - show_post_statistics
            - receive_email_notifications
            - enable_keyboard_navigation
            - enable_privacy_mode
            - style_usernames
            - enable_auto_complete
            - disable_cropped_thumbnails
            - enable_safe_mode
            - disable_responsive_mode
            - no_flagging
            - disable_user_dmails
            - enable_compact_uploader
            - replacements_beta
            - updated_at
            - email
            - last_logged_in_at
            - last_forum_read_at
            - recent_tags
            - comment_threshold
            - default_image_size
            - favorite_tags
            - blacklisted_tags
            - time_zone
            - per_page
            - custom_style
            - favorite_count
            - api_regen_multiplier
            - api_burst_limit
            - remaining_api_limit
            - statement_timeout
            - favorite_limit
            - tag_query_limit
            - has_mail
            - forum_notification_dot
          properties:
            blacklist_users:
              type: boolean
            description_collapsed_initially:
              type: boolean
            hide_comments:
              type: boolean
            show_hidden_comments:
              type: boolean
            show_post_statistics:
              type: boolean
            receive_email_notifications:
              type: boolean
            enable_keyboard_navigation:
              type: boolean
            enable_privacy_mode:
              type: boolean
            style_usernames:
              type: boolean
            enable_auto_complete:
              type: boolean
            can_approve_posts:
              type: boolean
            disable_cropped_thumbnails:
              type: boolean
            enable_safe_mode:
              type: boolean
            disable_responsive_mode:
              type: boolean
            no_flagging:
              type: boolean
            disable_user_dmails:
              type: boolean
            enable_compact_uploader:
              type: boolean
            replacements_beta:
              type: boolean
            updated_at:
              type: string
              format: date-time
            email:
              type: string
            last_logged_in_at:
              type: string
            last_forum_read_at:
              type: string
            recent_tags:
              type: string
            comment_threshold:
              type: integer
            default_image_size:
              type: string
              enum:
                - large
                - fit
                - fitv
                - original
            favorite_tags:
              type: string
            blacklisted_tags:
              type: string
            time_zone:
              type: string
            per_page:
              type: integer
            custom_style:
              type: string
            favorite_count:
              type: integer
            api_regen_multiplier:
              type: integer
            api_burst_limit:
              type: integer
            remaining_api_limit:
              type: integer
            statement_timeout:
              type: integer
            favorite_limit:
              type: integer
            tag_query_limit:
              type: integer
            has_mail:
              type: boolean
            forum_notification_dot:
              type: boolean
    DMail:
      type: object
      required:
        - id
        - owner_id
        - from_id
        - to_id
        - title
        - body
        - is_read
        - is_deleted
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        owner_id:
          type: integer
        from_id:
          type: integer
        to_id:
          type: integer
        title:
          type: string
        body:
          type: string
        is_read:
          type: boolean
        is_deleted:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DeferredPost:
      type: object
      required:
        - id
        - flags
        - tags
        - rating
        - file_ext
        - width
        - height
        - size
        - created_at
        - uploader
        - uploader_id
        - score
        - fav_count
        - is_favorited
        - pools
        - md5
        - preview_url
        - large_url
        - file_url
        - preview_width
        - preview_height
      properties:
        id:
          type: integer
        flags:
          type: string
        tags:
          type: string
        rating:
          type: string
          enum:
            - s
            - q
            - e
        file_ext:
          type: string
        width:
          type: integer
        height:
          type: integer
        size:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        uploader:
          type: string
        uploader_id:
          type: integer
        score:
          type: integer
        fav_count:
          type: integer
        is_favorited:
          type: boolean
        pools:
          type: array
          items:
            type: integer
        md5:
          type: string
        preview_url:
          type: string
          nullable: true
        large_url:
          type: string
          nullable: true
        file_url:
          type: string
          nullable: true
        preview_width:
          type: integer
        preview_height:
          type: integer
    DTextResponse:
      type: object
      required:
        - html
        - posts
      properties:
        html:
          type: string
        posts:
          type: object
          required:
            - id
            - flags
            - tags
            - rating
            - file_ext
            - width
            - height
            - size
            - created_at
            - uploader
            - uploader_id
            - score
            - fav_count
            - is_favorited
            - pools
            - md5
            - preview_url
            - large_url
            - file_url
            - preview_width
            - preview_height
          properties:
            id:
              type: integer
            flags:
              type: string
            tags:
              type: string
            rating:
              type: string
              enum:
                - s
                - q
                - e
            file_ext:
              type: string
            width:
              type: integer
            height:
              type: integer
            size:
              type: integer
              format: int64
            created_at:
              type: string
              format: date-time
            uploader:
              type: string
            uploader_id:
              type: integer
            score:
              type: integer
            fav_count:
              type: integer
            is_favorited:
              type: boolean
            pools:
              type: array
              items:
                type: integer
            md5:
              type: string
            preview_url:
              type: string
              nullable: true
            large_url:
              type: string
              nullable: true
            file_url:
              type: string
              nullable: true
            preview_width:
              type: integer
            preview_height:
              type: integer
    EmailBlacklist:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - domain
        - creator_id
        - reason
      properties:
        id:
          type: integer
        created_at:
          type: string
        updated_at:
          type: string
        domain:
          type: string
        creator_id:
          type: string
        reason:
          type: string
    ForumPost:
      type: object
      required:
        - id
        - topic_id
        - creator_id
        - updater_id
        - body
        - is_hidden
        - created_at
        - updated_at
        - warning_type
        - warning_user_id
      properties:
        id:
          type: integer
        topic_id:
          type: integer
        creator_id:
          type: integer
        updater_id:
          type: integer
        body:
          type: string
        is_hidden:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        warning_type:
          type: string
          enum:
            - warning
            - record
            - ban
        warning_user_id:
          type: integer
          nullable: true
    ForumPostVote:
      type: object
      required:
        - id
        - forum_post_id
        - creator_id
        - score
        - created_at
        - updated_at
        - creator_name
      properties:
        id:
          type: integer
        forum_post_id:
          type: integer
        creator_id:
          type: integer
        score:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        creator_name:
          type: string
    ForumTopic:
      type: object
      required:
        - id
        - creator_id
        - updater_id
        - title
        - response_count
        - is_sticky
        - is_locked
        - is_hidden
        - created_at
        - updated_at
        - category_id
      properties:
        id:
          type: integer
        creator_id:
          type: integer
        updater_id:
          type: integer
        title:
          type: string
        response_count:
          type: integer
        is_sticky:
          type: boolean
        is_locked:
          type: boolean
        is_hidden:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        category_id:
          type: integer
    FullCurrentUser:
      allOf:
        - allOf:
            - type: object
              required:
                - id
                - created_at
                - name
                - level
                - base_upload_limit
                - post_upload_count
                - post_update_count
                - note_update_count
                - is_banned
                - can_approve_posts
                - can_upload_free
                - level_string
                - avatar_id
              properties:
                id:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                name:
                  type: string
                level:
                  type: integer
                base_upload_limit:
                  type: integer
                post_upload_count:
                  type: integer
                post_update_count:
                  type: integer
                note_update_count:
                  type: integer
                is_banned:
                  type: boolean
                can_approve_posts:
                  type: boolean
                can_upload_free:
                  type: boolean
                level_string:
                  type: string
                avatar_id:
                  type: integer
                  nullable: true
            - type: object
              required:
                - blacklist_users
                - description_collapsed_initially
                - hide_comments
                - show_hidden_comments
                - show_post_statistics
                - receive_email_notifications
                - enable_keyboard_navigation
                - enable_privacy_mode
                - style_usernames
                - enable_auto_complete
                - disable_cropped_thumbnails
                - enable_safe_mode
                - disable_responsive_mode
                - no_flagging
                - disable_user_dmails
                - enable_compact_uploader
                - replacements_beta
                - updated_at
                - email
                - last_logged_in_at
                - last_forum_read_at
                - recent_tags
                - comment_threshold
                - default_image_size
                - favorite_tags
                - blacklisted_tags
                - time_zone
                - per_page
                - custom_style
                - favorite_count
                - api_regen_multiplier
                - api_burst_limit
                - remaining_api_limit
                - statement_timeout
                - favorite_limit
                - tag_query_limit
                - has_mail
                - forum_notification_dot
              properties:
                blacklist_users:
                  type: boolean
                description_collapsed_initially:
                  type: boolean
                hide_comments:
                  type: boolean
                show_hidden_comments:
                  type: boolean
                show_post_statistics:
                  type: boolean
                receive_email_notifications:
                  type: boolean
                enable_keyboard_navigation:
                  type: boolean
                enable_privacy_mode:
                  type: boolean
                style_usernames:
                  type: boolean
                enable_auto_complete:
                  type: boolean
                can_approve_posts:
                  type: boolean
                disable_cropped_thumbnails:
                  type: boolean
                enable_safe_mode:
                  type: boolean
                disable_responsive_mode:
                  type: boolean
                no_flagging:
                  type: boolean
                disable_user_dmails:
                  type: boolean
                enable_compact_uploader:
                  type: boolean
                replacements_beta:
                  type: boolean
                updated_at:
                  type: string
                  format: date-time
                email:
                  type: string
                last_logged_in_at:
                  type: string
                last_forum_read_at:
                  type: string
                recent_tags:
                  type: string
                comment_threshold:
                  type: integer
                default_image_size:
                  type: string
                  enum:
                    - large
                    - fit
                    - fitv
                    - original
                favorite_tags:
                  type: string
                blacklisted_tags:
                  type: string
                time_zone:
                  type: string
                per_page:
                  type: integer
                custom_style:
                  type: string
                favorite_count:
                  type: integer
                api_regen_multiplier:
                  type: integer
                api_burst_limit:
                  type: integer
                remaining_api_limit:
                  type: integer
                statement_timeout:
                  type: integer
                favorite_limit:
                  type: integer
                tag_query_limit:
                  type: integer
                has_mail:
                  type: boolean
                forum_notification_dot:
                  type: boolean
        - allOf:
            - type: object
              required:
                - id
                - created_at
                - name
                - level
                - base_upload_limit
                - post_upload_count
                - post_update_count
                - note_update_count
                - is_banned
                - can_approve_posts
                - can_upload_free
                - level_string
                - avatar_id
              properties:
                id:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                name:
                  type: string
                level:
                  type: integer
                base_upload_limit:
                  type: integer
                post_upload_count:
                  type: integer
                post_update_count:
                  type: integer
                note_update_count:
                  type: integer
                is_banned:
                  type: boolean
                can_approve_posts:
                  type: boolean
                can_upload_free:
                  type: boolean
                level_string:
                  type: string
                avatar_id:
                  type: integer
                  nullable: true
            - type: object
              required:
                - wiki_page_version_count
                - artist_version_count
                - pool_version_count
                - forum_post_count
                - comment_count
                - flag_count
                - favorite_count
                - positive_feedback_count
                - neutral_feedback_count
                - negative_feedback_count
                - upload_limit
                - profile_about
                - profile_artinfo
              properties:
                wiki_page_version_count:
                  type: integer
                artist_version_count:
                  type: integer
                pool_version_count:
                  type: integer
                forum_post_count:
                  type: integer
                comment_count:
                  type: integer
                flag_count:
                  type: integer
                favorite_count:
                  type: integer
                positive_feedback_count:
                  type: integer
                neutral_feedback_count:
                  type: integer
                negative_feedback_count:
                  type: integer
                upload_limit:
                  type: integer
                profile_about:
                  type: string
                profile_artinfo:
                  type: string
    FullUser:
      allOf:
        - type: object
          required:
            - id
            - created_at
            - name
            - level
            - base_upload_limit
            - post_upload_count
            - post_update_count
            - note_update_count
            - is_banned
            - can_approve_posts
            - can_upload_free
            - level_string
            - avatar_id
          properties:
            id:
              type: integer
            created_at:
              type: string
              format: date-time
            name:
              type: string
            level:
              type: integer
            base_upload_limit:
              type: integer
            post_upload_count:
              type: integer
            post_update_count:
              type: integer
            note_update_count:
              type: integer
            is_banned:
              type: boolean
            can_approve_posts:
              type: boolean
            can_upload_free:
              type: boolean
            level_string:
              type: string
            avatar_id:
              type: integer
              nullable: true
        - type: object
          required:
            - wiki_page_version_count
            - artist_version_count
            - pool_version_count
            - forum_post_count
            - comment_count
            - flag_count
            - favorite_count
            - positive_feedback_count
            - neutral_feedback_count
            - negative_feedback_count
            - upload_limit
            - profile_about
            - profile_artinfo
          properties:
            wiki_page_version_count:
              type: integer
            artist_version_count:
              type: integer
            pool_version_count:
              type: integer
            forum_post_count:
              type: integer
            comment_count:
              type: integer
            flag_count:
              type: integer
            favorite_count:
              type: integer
            positive_feedback_count:
              type: integer
            neutral_feedback_count:
              type: integer
            negative_feedback_count:
              type: integer
            upload_limit:
              type: integer
            profile_about:
              type: string
            profile_artinfo:
              type: string
    Help:
      type: object
      required:
        - id
        - name
        - title
        - wiki_page
        - related
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        name:
          type: string
        title:
          type: string
        wiki_page:
          type: string
        related:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    IPBan:
      type: object
      description: 'Due to a global filter, the ip_addr is not present no matter your user level.'
      required:
        - id
        - creator_id
        - reason
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        creator_id:
          type: integer
        reason:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    IQDBPost:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - up_score
        - down_score
        - score
        - source
        - md5
        - rating
        - is_note_locked
        - is_rating_locked
        - is_status_locked
        - is_pending
        - is_flagged
        - is_deleted
        - uploader_id
        - approver_id
        - last_noted_at
        - last_comment_bumped_at
        - fav_count
        - tag_string
        - tag_count
        - tag_count_general
        - tag_count_artist
        - tag_count_character
        - tag_count_copyright
        - file_ext
        - file_size
        - image_width
        - image_height
        - parent_id
        - has_children
        - last_commented_at
        - has_active_children
        - bit_flags
        - tag_count_meta
        - locked_tags
        - tag_count_species
        - tag_count_invalid
        - description
        - comment_count
        - change_seq
        - tag_count_lore
        - bg_color
        - generated_samples
        - duration
        - is_comment_disabled
        - is_comment_locked
        - has_large
        - has_visible_children
        - children_ids
        - pool_ids
        - is_favorited
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        up_score:
          type: integer
        down_score:
          type: integer
        score:
          type: integer
        source:
          type: string
        md5:
          type: string
        rating:
          type: string
          enum:
            - s
            - q
            - e
        is_note_locked:
          type: boolean
        is_rating_locked:
          type: boolean
        is_status_locked:
          type: boolean
        is_pending:
          type: boolean
        is_flagged:
          type: boolean
        is_deleted:
          type: boolean
        uploader_id:
          type: integer
        approver_id:
          type: integer
        last_noted_at:
          type: string
          format: date-time
          nullable: true
        last_comment_bumped_at:
          type: string
          format: date-time
          nullable: true
        fav_count:
          type: integer
        tag_string:
          type: string
        tag_count:
          type: integer
        tag_count_general:
          type: integer
        tag_count_artist:
          type: integer
        tag_count_character:
          type: integer
        tag_count_copyright:
          type: integer
        file_ext:
          type: string
        file_size:
          type: integer
          format: int64
        image_width:
          type: integer
        image_height:
          type: integer
        parent_id:
          type: integer
          nullable: true
        has_children:
          type: boolean
        last_commented_at:
          type: string
          format: date-time
          nullable: true
        has_active_children:
          type: boolean
        bit_flags:
          type: number
        tag_count_meta:
          type: integer
        locked_tags:
          type: string
          nullable: true
        tag_count_species:
          type: integer
        tag_count_invalid:
          type: integer
        description:
          type: string
        comment_count:
          type: integer
        change_seq:
          type: integer
        tag_count_lore:
          type: integer
        bg_color:
          type: string
          nullable: true
        generated_samples:
          type: array
          nullable: true
          items:
            type: string
            enum:
              - 720p
              - 480p
              - original
        duration:
          type: string
          nullable: true
        is_comment_disabled:
          type: boolean
        is_comment_locked:
          type: boolean
        has_large:
          type: boolean
        has_visible_children:
          type: boolean
        children_ids:
          type: string
          nullable: true
        pool_ids:
          type: array
          items:
            type: integer
        is_favorited:
          type: boolean
        file_url:
          type: string
        large_file_url:
          type: string
        preview_file_url:
          type: string
    IQDBResponse:
      type: object
      required:
        - hash
        - post_id
        - score
        - post
      properties:
        hash:
          type: string
        post_id:
          type: integer
        score:
          type: integer
        post:
          type: object
          required:
            - posts
          properties:
            posts:
              type: object
              required:
                - id
                - created_at
                - updated_at
                - up_score
                - down_score
                - score
                - source
                - md5
                - rating
                - is_note_locked
                - is_rating_locked
                - is_status_locked
                - is_pending
                - is_flagged
                - is_deleted
                - uploader_id
                - approver_id
                - last_noted_at
                - last_comment_bumped_at
                - fav_count
                - tag_string
                - tag_count
                - tag_count_general
                - tag_count_artist
                - tag_count_character
                - tag_count_copyright
                - file_ext
                - file_size
                - image_width
                - image_height
                - parent_id
                - has_children
                - last_commented_at
                - has_active_children
                - bit_flags
                - tag_count_meta
                - locked_tags
                - tag_count_species
                - tag_count_invalid
                - description
                - comment_count
                - change_seq
                - tag_count_lore
                - bg_color
                - generated_samples
                - duration
                - is_comment_disabled
                - is_comment_locked
                - has_large
                - has_visible_children
                - children_ids
                - pool_ids
                - is_favorited
              properties:
                id:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                updated_at:
                  type: string
                  format: date-time
                up_score:
                  type: integer
                down_score:
                  type: integer
                score:
                  type: integer
                source:
                  type: string
                md5:
                  type: string
                rating:
                  type: string
                  enum:
                    - s
                    - q
                    - e
                is_note_locked:
                  type: boolean
                is_rating_locked:
                  type: boolean
                is_status_locked:
                  type: boolean
                is_pending:
                  type: boolean
                is_flagged:
                  type: boolean
                is_deleted:
                  type: boolean
                uploader_id:
                  type: integer
                approver_id:
                  type: integer
                last_noted_at:
                  type: string
                  format: date-time
                  nullable: true
                last_comment_bumped_at:
                  type: string
                  format: date-time
                  nullable: true
                fav_count:
                  type: integer
                tag_string:
                  type: string
                tag_count:
                  type: integer
                tag_count_general:
                  type: integer
                tag_count_artist:
                  type: integer
                tag_count_character:
                  type: integer
                tag_count_copyright:
                  type: integer
                file_ext:
                  type: string
                file_size:
                  type: integer
                  format: int64
                image_width:
                  type: integer
                image_height:
                  type: integer
                parent_id:
                  type: integer
                  nullable: true
                has_children:
                  type: boolean
                last_commented_at:
                  type: string
                  format: date-time
                  nullable: true
                has_active_children:
                  type: boolean
                bit_flags:
                  type: number
                tag_count_meta:
                  type: integer
                locked_tags:
                  type: string
                  nullable: true
                tag_count_species:
                  type: integer
                tag_count_invalid:
                  type: integer
                description:
                  type: string
                comment_count:
                  type: integer
                change_seq:
                  type: integer
                tag_count_lore:
                  type: integer
                bg_color:
                  type: string
                  nullable: true
                generated_samples:
                  type: array
                  nullable: true
                  items:
                    type: string
                    enum:
                      - 720p
                      - 480p
                      - original
                duration:
                  type: string
                  nullable: true
                is_comment_disabled:
                  type: boolean
                is_comment_locked:
                  type: boolean
                has_large:
                  type: boolean
                has_visible_children:
                  type: boolean
                children_ids:
                  type: string
                  nullable: true
                pool_ids:
                  type: array
                  items:
                    type: integer
                is_favorited:
                  type: boolean
                file_url:
                  type: string
                large_file_url:
                  type: string
                preview_file_url:
                  type: string
    Mascot:
      type: object
      required:
        - id
        - creator_id
        - display_name
        - md5
        - file_ext
        - background_color
        - artist_url
        - artist_name
        - active
        - created_at
        - updated_at
        - available_on
        - url_path
      properties:
        id:
          type: integer
        creator_id:
          type: integer
        display_name:
          type: string
        md5:
          type: string
        file_ext:
          type: string
        background_color:
          type: string
        artist_url:
          type: string
          format: uri
        artist_name:
          type: string
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        available_on:
          type: array
          items:
            type: string
        url_path:
          type: string
          format: uri
    ModAction:
      type: object
      required:
        - id
        - creator_id
        - created_at
        - updated_at
        - action
      properties:
        id:
          type: integer
        creator_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        action:
          type: string
          enum:
            - artist_page_rename
            - artist_page_lock
            - artist_page_unlock
            - artist_user_linked
            - artist_user_unlinked
            - avoid_posting_create
            - avoid_posting_update
            - avoid_posting_delete
            - avoid_posting_undelete
            - avoid_posting_destroy
            - blip_delete
            - blip_hide
            - blip_unhide
            - blip_update
            - comment_delete
            - comment_hide
            - comment_unhide
            - comment_update
            - forum_category_create
            - forum_category_delete
            - forum_category_update
            - forum_post_delete
            - forum_post_hide
            - forum_post_unhide
            - forum_post_update
            - forum_topic_delete
            - forum_topic_hide
            - forum_topic_unhide
            - forum_topic_lock
            - forum_topic_unlock
            - forum_topic_stick
            - forum_topic_unstick
            - forum_topic_update
            - help_create
            - help_delete
            - help_update
            - ip_ban_create
            - ip_ban_delete
            - mascot_create
            - mascot_update
            - mascot_delete
            - pool_delete
            - report_reason_create
            - report_reason_delete
            - report_reason_update
            - set_update
            - set_delete
            - set_change_visibility
            - tag_alias_create
            - tag_alias_update
            - tag_implication_create
            - tag_implication_update
            - ticket_claim
            - ticket_unclaim
            - ticket_update
            - upload_whitelist_create
            - upload_whitelist_update
            - upload_whitelist_delete
            - user_blacklist_changed
            - user_text_change
            - user_upload_limit_change
            - user_flags_change
            - user_level_change
            - user_name_change
            - user_delete
            - user_ban
            - user_ban_update
            - user_unban
            - user_feedback_create
            - user_feedback_update
            - user_feedback_delete
            - user_feedback_undelete
            - user_feedback_destroy
            - wiki_page_rename
            - wiki_page_delete
            - wiki_page_lock
            - wiki_page_unlock
            - mass_update
            - nuke_tag
            - takedown_delete
            - takedown_process
            - user_flush_favorites
            - post_version_hide
            - post_version_unhide
            - user_uploads_toggle
            - staff_note_create
            - staff_note_update
            - staff_note_delete
            - staff_note_undelete
            - created_positive_record
            - created_neutral_record
            - created_negative_record
            - created_flag_reason
            - edited_flag_reason
            - deleted_flag_reason
            - post_move_favorites
            - post_delete
            - post_undelete
            - post_destroy
            - post_rating_lock
            - post_unapprove
            - post_replacement_accept
            - post_replacement_reject
            - post_replacement_delete
    NewsUpdate:
      type: object
      required:
        - id
        - message
        - creator_id
        - updater_id
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        message:
          type: string
        creator_id:
          type: integer
        updater_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Note:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - creator_id
        - x
        - 'y'
        - width
        - height
        - version
        - is_active
        - post_id
        - body
        - creator_name
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        creator_id:
          type: integer
        x:
          type: integer
        'y':
          type: integer
        width:
          type: integer
        height:
          type: integer
        version:
          type: number
        is_active:
          type: boolean
        post_id:
          type: integer
        body:
          type: string
        creator_name:
          type: string
    NoteVersion:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - x
        - 'y'
        - width
        - height
        - body
        - version
        - is_active
        - note_id
        - post_id
        - updater_id
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        x:
          type: integer
        'y':
          type: integer
        width:
          type: integer
        height:
          type: integer
        body:
          type: string
        version:
          type: number
        is_active:
          type: boolean
        note_id:
          type: integer
        post_id:
          type: integer
        updater_id:
          type: integer
    Pool:
      type: object
      required:
        - id
        - name
        - created_at
        - updated_at
        - creator_id
        - description
        - is_active
        - category
        - post_ids
        - creator_name
        - post_count
      properties:
        id:
          type: integer
        name:
          type: string
        updated_at:
          type: string
          format: date-time
        creator_id:
          type: integer
        description:
          type: string
        is_active:
          type: boolean
        category:
          type: string
          enum:
            - collection
            - series
        post_ids:
          type: array
          items:
            type: integer
        created_at:
          type: string
          format: date-time
        creator_name:
          type: string
        post_count:
          type: integer
    PoolVersion:
      type: object
      required:
        - id
        - pool_id
        - post_ids
        - updater_id
        - created_at
        - updated_at
        - name
        - name_changed
        - description
        - description_changed
        - is_active
        - is_locked
        - category
        - version
        - added_post_ids
        - removed_post_ids
      properties:
        id:
          type: integer
        pool_id:
          type: integer
        post_ids:
          type: array
          items:
            type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        updater_id:
          type: integer
        name:
          type: string
        name_changed:
          type: boolean
        description:
          type: string
        description_changed:
          type: boolean
        is_active:
          type: boolean
        is_locked:
          type: boolean
        category:
          type: string
          enum:
            - collection
            - series
        version:
          type: number
        added_post_ids:
          type: array
          items:
            type: integer
        removed_post_ids:
          type: array
          items:
            type: integer
    Post:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - file
        - preview
        - sample
        - score
        - tags
        - locked_tags
        - change_seq
        - flags
        - rating
        - fav_count
        - sources
        - pools
        - relationships
        - approver_id
        - uploader_id
        - description
        - comment_count
        - is_favorited
        - has_notes
        - duration
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        file:
          type: object
          required:
            - width
            - height
            - ext
            - size
            - md5
            - url
          properties:
            width:
              type: integer
            height:
              type: integer
            ext:
              type: string
            size:
              type: integer
              format: int64
            md5:
              type: string
            url:
              type: string
              nullable: true
        preview:
          type: object
          required:
            - width
            - height
            - url
          properties:
            width:
              type: integer
            height:
              type: integer
            url:
              type: string
              nullable: true
        sample:
          type: object
          required:
            - has
            - height
            - width
            - url
            - alternates
          properties:
            has:
              type: boolean
            height:
              type: integer
              nullable: true
            width:
              type: integer
              nullable: true
            url:
              type: string
              nullable: true
            alternates:
              type: object
              properties:
                has:
                  type: boolean
                original:
                  type: object
                  required:
                    - fps
                    - codec
                    - size
                    - width
                    - height
                    - url
                  properties:
                    fps:
                      type: number
                      format: float
                    codec:
                      type: string
                    size:
                      type: integer
                      format: int64
                    width:
                      type: integer
                    height:
                      type: integer
                    url:
                      type: string
                      format: uri
                variants:
                  type: object
                  properties:
                    webm:
                      type: object
                      required:
                        - fps
                        - codec
                        - size
                        - width
                        - height
                        - url
                      properties:
                        fps:
                          type: number
                          format: float
                        codec:
                          type: string
                        size:
                          type: integer
                          format: int64
                        width:
                          type: integer
                        height:
                          type: integer
                        url:
                          type: string
                          format: uri
                    mp4:
                      type: object
                      required:
                        - fps
                        - codec
                        - size
                        - width
                        - height
                        - url
                      properties:
                        fps:
                          type: number
                          format: float
                        codec:
                          type: string
                        size:
                          type: integer
                          format: int64
                        width:
                          type: integer
                        height:
                          type: integer
                        url:
                          type: string
                          format: uri
                samples:
                  type: object
                  properties:
                    480p:
                      type: object
                      required:
                        - fps
                        - codec
                        - size
                        - width
                        - height
                        - url
                      properties:
                        fps:
                          type: number
                          format: float
                        codec:
                          type: string
                        size:
                          type: integer
                          format: int64
                        width:
                          type: integer
                        height:
                          type: integer
                        url:
                          type: string
                          format: uri
                    720p:
                      type: object
                      required:
                        - fps
                        - codec
                        - size
                        - width
                        - height
                        - url
                      properties:
                        fps:
                          type: number
                          format: float
                        codec:
                          type: string
                        size:
                          type: integer
                          format: int64
                        width:
                          type: integer
                        height:
                          type: integer
                        url:
                          type: string
                          format: uri
        score:
          type: object
          required:
            - up
            - down
            - total
          properties:
            up:
              type: integer
            down:
              type: integer
            total:
              type: integer
        tags:
          type: object
          required:
            - general
            - artist
            - copyright
            - character
            - species
            - invalid
            - meta
            - lore
            - contributor
          properties:
            general:
              type: array
              items:
                type: string
            artist:
              type: array
              items:
                type: string
            copyright:
              type: array
              items:
                type: string
            character:
              type: array
              items:
                type: string
            species:
              type: array
              items:
                type: string
            invalid:
              type: array
              items:
                type: string
            meta:
              type: array
              items:
                type: string
            lore:
              type: array
              items:
                type: string
            contributor:
              type: array
              items:
                type: string
        locked_tags:
          type: array
          nullable: true
          items:
            type: string
        change_seq:
          type: number
        flags:
          type: object
          required:
            - pending
            - flagged
            - note_locked
            - status_locked
            - rating_locked
            - deleted
          properties:
            pending:
              type: boolean
            flagged:
              type: boolean
            note_locked:
              type: boolean
            status_locked:
              type: boolean
            rating_locked:
              type: boolean
            deleted:
              type: boolean
        rating:
          type: string
          enum:
            - s
            - q
            - e
        fav_count:
          type: integer
        sources:
          type: array
          items:
            type: string
        pools:
          type: array
          items:
            type: integer
        relationships:
          type: object
          required:
            - parent_id
            - has_children
            - has_active_children
            - children
          properties:
            parent_id:
              type: integer
              nullable: true
            has_children:
              type: boolean
            has_active_children:
              type: boolean
            children:
              type: array
              items:
                type: integer
        approver_id:
          type: integer
          nullable: true
        uploader_id:
          type: integer
        description:
          type: string
        comment_count:
          type: integer
        is_favorited:
          type: boolean
        has_notes:
          type: boolean
        duration:
          type: integer
          nullable: true
    PostApproval:
      type: object
      required:
        - id
        - user_id
        - post_id
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        user_id:
          type: integer
        post_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostDisapproval:
      type: object
      required:
        - id
        - user_id
        - post_id
        - reason
        - message
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        user_id:
          type: integer
        post_id:
          type: integer
        reason:
          type: string
          enum:
            - borderline_quality
            - borderline_relevancy
            - other
        message:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostEvent:
      type: object
      required:
        - id
        - creator_id
        - post_id
        - action
        - created_at
      properties:
        id:
          type: integer
        creator_id:
          type: integer
          nullable: true
        post_id:
          type: integer
        action:
          type: string
          enum:
            - deleted
            - undeleted
            - approved
            - unapproved
            - flag_created
            - flag_removed
            - favorites_moved
            - favorites_received
            - rating_locked
            - rating_unlocked
            - status_locked
            - status_unlocked
            - note_locked
            - note_unlocked
            - comment_locked
            - comment_unlocked
            - replacement_accepted
            - replacement_rejected
            - replacement_promoted
            - replacement_deleted
            - expunged
            - changed_bg_color
            - replacement_penalty_changed
        created_at:
          type: string
          format: date-time
    PostFlag:
      type: object
      required:
        - id
        - created_at
        - post_id
        - reason
        - creator_id
        - is_resolved
        - updated_at
        - is_deletion
        - type
        - note
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        post_id:
          type: integer
        reason:
          type: string
        creator_id:
          type: integer
          nullable: true
        is_resolved:
          type: boolean
        updated_at:
          type: string
          format: date-time
        is_deletion:
          type: boolean
        type:
          type: string
          enum:
            - flag
            - deletion
        note:
          type: string
          nullable: true
    PostReplacement:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - post_id
        - creator_id
        - approver_id
        - file_ext
        - file_size
        - image_height
        - image_width
        - md5
        - source
        - file_name
        - status
        - reason
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        post_id:
          type: integer
        creator_id:
          type: integer
        approver_id:
          type: integer
          nullable: true
        file_ext:
          type: string
        file_size:
          type: integer
          format: int64
        image_height:
          type: integer
        image_width:
          type: integer
        md5:
          type: string
        source:
          type: string
        file_name:
          type: string
        status:
          type: string
          enum:
            - prompted
            - approved
            - rejected
            - pending
            - original
        reason:
          type: string
    PostSampleAlternate:
      type: object
      required:
        - fps
        - codec
        - size
        - width
        - height
        - url
      properties:
        fps:
          type: number
          format: float
        codec:
          type: string
        size:
          type: integer
          format: int64
        width:
          type: integer
        height:
          type: integer
        url:
          type: string
          format: uri
    PostSet:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - creator_id
        - is_public
        - name
        - shortname
        - description
        - transfer_on_delete
        - post_ids
        - post_count
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        creator_id:
          type: integer
        is_public:
          type: boolean
        name:
          type: string
        shortname:
          type: string
        description:
          type: string
        post_count:
          type: integer
        transfer_on_delete:
          type: boolean
        post_ids:
          type: array
          items:
            type: integer
    PostVersion:
      type: object
      required:
        - id
        - post_id
        - tags
        - updater_id
        - updated_at
        - rating
        - parent_id
        - source
        - description
        - reason
        - locked_tags
        - added_tags
        - removed_tags
        - added_locked_tags
        - removed_locked_tags
        - rating_changed
        - parent_changed
        - source_changed
        - description_changed
        - version
        - obsolete_added_tags
        - obsolete_removed_tags
        - unchanged_tags
        - updater_name
        - is_hidden
      properties:
        id:
          type: integer
        post_id:
          type: integer
        tags:
          type: string
        updater_id:
          type: integer
        updated_at:
          type: string
          format: date-time
        rating:
          type: string
          enum:
            - s
            - q
            - e
        parent_id:
          type: integer
          nullable: true
        source:
          type: string
        description:
          type: string
        reason:
          type: string
          nullable: true
        locked_tags:
          type: string
          nullable: true
        added_tags:
          type: array
          items:
            type: string
        removed_tags:
          type: array
          items:
            type: string
        added_locked_tags:
          type: array
          items:
            type: string
        removed_locked_tags:
          type: array
          items:
            type: string
        rating_changed:
          type: boolean
        parent_changed:
          type: boolean
        source_changed:
          type: boolean
        description_changed:
          type: boolean
        version:
          type: number
        obsolete_added_tags:
          type: string
        obsolete_removed_tags:
          type: string
        unchanged_tags:
          type: string
        updater_name:
          type: string
        is_hidden:
          type: boolean
    RelatedTag:
      type: object
      required:
        - name
        - category_id
      properties:
        name:
          type: string
        category_id:
          type: integer
          enum:
            - 0
            - 1
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
    StaffNote:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - user_id
        - creator_id
        - body
        - is_deleted
        - updater_id
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user_id:
          type: integer
        creator_id:
          type: integer
        body:
          type: string
        is_deleted:
          type: boolean
        updater_id:
          type: integer
    Tag:
      type: object
      required:
        - id
        - name
        - post_count
        - related_tags
        - related_tags_updated_at
        - category
        - is_locked
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        name:
          type: string
        post_count:
          type: integer
        related_tags:
          type: array
          items:
            type: string
        related_tags_updated_at:
          type: string
          nullable: true
          format: date-time
        category:
          type: integer
          enum:
            - 0
            - 1
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
        is_locked:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TagAlias:
      type: object
      required:
        - id
        - antecedent_name
        - reason
        - creator_id
        - created_at
        - forum_post_id
        - updated_at
        - forum_topic_id
        - consequent_name
        - status
        - post_count
        - approver_id
      properties:
        id:
          type: integer
        antecedent_name:
          type: string
        reason:
          type: string
        creator_id:
          type: integer
        created_at:
          type: string
          nullable: true
          format: date-time
        forum_post_id:
          type: integer
          nullable: true
        updated_at:
          type: string
          nullable: true
          format: date-time
        forum_topic_id:
          type: integer
          nullable: true
        consequent_name:
          type: string
        status:
          type: string
          enum:
            - active
            - deleted
            - processing
            - queued
            - retired
            - error
            - pending
        post_count:
          type: integer
        approver_id:
          type: integer
          nullable: true
    TagImplication:
      type: object
      required:
        - id
        - reason
        - creator_id
        - created_at
        - forum_post_id
        - antecedent_name
        - consequent_name
        - status
        - forum_topic_id
        - updated_at
        - descendant_names
        - approver_id
      properties:
        id:
          type: integer
        reason:
          type: string
        creator_id:
          type: integer
        created_at:
          type: string
          format: date-time
        forum_post_id:
          type: integer
          nullable: true
        antecedent_name:
          type: string
        consequent_name:
          type: string
        status:
          type: string
          enum:
            - active
            - deleted
            - processing
            - queued
            - retired
            - error
            - pending
        forum_topic_id:
          type: integer
          nullable: true
        updated_at:
          type: string
          format: date-time
        descendant_names:
          type: array
          items:
            type: string
        approver_id:
          type: integer
          nullable: true
    TagPreview:
      type: object
      required:
        - a
        - type
        - tagTypeA
      properties:
        a:
          type: string
          description: 'The name if type=tag, else the antecedent.'
        b:
          type: string
          description: 'The consequent, only present if type=alias or type=implication.'
        type:
          type: string
          enum:
            - tag
            - implication
            - alias
        tagTypeA:
          type: integer
          enum:
            - 0
            - 1
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
        tagTypeB:
          type: integer
          enum:
            - 0
            - 1
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
    TagTypeVersion:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - old_type
        - new_type
        - is_locked
        - tag_id
        - creator_id
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        old_type:
          type: integer
          enum:
            - 0
            - 1
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
        new_type:
          type: integer
          enum:
            - 0
            - 1
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
        is_locked:
          type: boolean
        tag_id:
          type: integer
        creator_id:
          type: integer
    Takedown:
      type: object
      required:
        - id
        - status
        - approver_id
        - reason_hidden
        - created_at
        - updated_at
        - post_count
      properties:
        id:
          type: integer
        status:
          type: string
          enum:
            - approved
            - denied
            - partial
            - pending
        approver_id:
          type: integer
          nullable: true
        reason_hidden:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        post_count:
          type: integer
    Ticket:
      type: object
      required:
        - id
        - creator_id
        - reason
        - disp_id
        - qtype
        - status
        - created_at
        - updated_at
        - response
        - handler_id
        - report_reason
        - accused_id
      properties:
        id:
          type: integer
        creator_id:
          type: integer
        reason:
          type: string
        disp_id:
          type: number
        qtype:
          type: string
          enum:
            - blip
            - comment
            - dmail
            - forum
            - pool
            - post
            - set
            - user
            - wiki
        status:
          type: string
          enum:
            - pending
            - partial
            - approved
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        response:
          type: string
        handler_id:
          type: integer
          nullable: true
        claimant_id:
          type: integer
          nullable: true
          description: Only visible to Moderator+.
        report_reason:
          type: string
          nullable: true
        accused_id:
          type: integer
          nullable: true
    UploadWhitelist:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - pattern
        - note
        - hidden
        - allowed
        - reason
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        pattern:
          type: string
        note:
          type: string
        hidden:
          type: boolean
        allowed:
          type: boolean
        reason:
          type: string
    Upload:
      type: object
      required:
        - id
        - source
        - rating
        - uploader_id
        - tag_string
        - status
        - backtrace
        - post_id
        - md5_confirmation
        - created_at
        - updated_at
        - parent_id
        - md5
        - file_ext
        - file_size
        - image_width
        - image_height
        - description
        - uploader_name
      properties:
        id:
          type: integer
        source:
          type: string
        rating:
          type: string
          enum:
            - s
            - q
            - e
        uploader_id:
          type: integer
        tag_string:
          type: string
        status:
          type: string
          description: |
            Note: The "error" status will be proceeded by an error, ex: "error: RuntimeError - No file or source URL provided"
          enum:
            - completed
            - duplicate
            - error
            - processing
            - pending
        backtrace:
          type: string
          nullable: true
        post_id:
          type: integer
          nullable: true
        md5_confirmation:
          type: string
          nullable: true
          deprecated: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        parent_id:
          type: integer
          nullable: true
        md5:
          type: string
          nullable: true
        file_ext:
          type: string
          nullable: true
        file_size:
          type: integer
          nullable: true
        image_width:
          type: integer
          nullable: true
        image_height:
          type: integer
          nullable: true
        description:
          type: string
        uploader_name:
          type: string
    User:
      type: object
      required:
        - id
        - created_at
        - name
        - level
        - base_upload_limit
        - post_upload_count
        - post_update_count
        - note_update_count
        - is_banned
        - can_approve_posts
        - can_upload_free
        - level_string
        - avatar_id
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        name:
          type: string
        level:
          type: integer
        base_upload_limit:
          type: integer
        post_upload_count:
          type: integer
        post_update_count:
          type: integer
        note_update_count:
          type: integer
        is_banned:
          type: boolean
        can_approve_posts:
          type: boolean
        can_upload_free:
          type: boolean
        level_string:
          type: string
        avatar_id:
          type: integer
          nullable: true
    UserFeedback:
      type: object
      required:
        - id
        - user_id
        - creator_id
        - category
        - body
        - created_at
        - updated_at
        - updater_id
        - is_deleted
      properties:
        id:
          type: integer
        user_id:
          type: integer
        creator_id:
          type: integer
        category:
          type: string
          enum:
            - negative
            - neutral
            - positive
        body:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        updater_id:
          type: integer
        is_deleted:
          type: boolean
    UserNameChangeRequest:
      type: object
      required:
        - id
        - approver_id
        - user_id
        - original_name
        - desired_name
        - created_at
        - updated_at
        - status
      properties:
        id:
          type: integer
        approver_id:
          type: integer
        user_id:
          type: integer
        original_name:
          type: string
        desired_name:
          type: string
        change_reason:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - approved
    WikiPage:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - title
        - body
        - creator_id
        - is_locked
        - updater_id
        - is_deleted
        - other_names
        - parent
        - creator_name
        - category_id
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        title:
          type: string
        body:
          type: string
        creator_id:
          type: integer
        is_locked:
          type: boolean
        updater_id:
          type: integer
        is_deleted:
          type: boolean
        other_names:
          type: array
          items:
            type: string
        parent:
          type: string
          nullable: true
        creator_name:
          type: string
        category_id:
          type: integer
          enum:
            - 0
            - 1
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
    WikiPageVersion:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - title
        - body
        - updater_id
        - wiki_page_id
        - is_locked
        - other_names
        - is_deleted
        - reason
        - parent
      properties:
        id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        title:
          type: string
        body:
          type: string
        updater_id:
          type: integer
        wiki_page_id:
          type: integer
        is_locked:
          type: boolean
        other_names:
          type: array
          items:
            type: string
        is_deleted:
          type: boolean
        reason:
          type: string
          nullable: true
        parent:
          type: string
          nullable: true
  responses:
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            required:
              - success
              - reason
            properties:
              success:
                type: boolean
              reason:
                type: string
                enum:
                  - not found
    AccessDenied:
      description: Access Denied
      content:
        application/json:
          schema:
            type: object
            required:
              - success
              - reason
            properties:
              success:
                type: boolean
              reason:
                type: string
                enum:
                  - Access Denied
    ExpectedError:
      description: Invalid Input Data
      content:
        application/json:
          schema:
            type: object
            required:
              - errors
            example:
              - errors:
                  key:
                    - the error
            properties:
              errors:
                type: array
                items:
                  type: string
    MessageError:
      description: Error
      content:
        application/json:
          schema:
            type: object
            required:
              - success
              - message
            properties:
              success:
                type: boolean
              message:
                type: string
              code:
                type: string
                nullable: true
    UserResponse:
      description: Success
      content:
        application/json:
          schema:
            oneOf:
              - allOf:
                  - type: object
                    required:
                      - id
                      - created_at
                      - name
                      - level
                      - base_upload_limit
                      - post_upload_count
                      - post_update_count
                      - note_update_count
                      - is_banned
                      - can_approve_posts
                      - can_upload_free
                      - level_string
                      - avatar_id
                    properties:
                      id:
                        type: integer
                      created_at:
                        type: string
                        format: date-time
                      name:
                        type: string
                      level:
                        type: integer
                      base_upload_limit:
                        type: integer
                      post_upload_count:
                        type: integer
                      post_update_count:
                        type: integer
                      note_update_count:
                        type: integer
                      is_banned:
                        type: boolean
                      can_approve_posts:
                        type: boolean
                      can_upload_free:
                        type: boolean
                      level_string:
                        type: string
                      avatar_id:
                        type: integer
                        nullable: true
                  - type: object
                    required:
                      - wiki_page_version_count
                      - artist_version_count
                      - pool_version_count
                      - forum_post_count
                      - comment_count
                      - flag_count
                      - favorite_count
                      - positive_feedback_count
                      - neutral_feedback_count
                      - negative_feedback_count
                      - upload_limit
                      - profile_about
                      - profile_artinfo
                    properties:
                      wiki_page_version_count:
                        type: integer
                      artist_version_count:
                        type: integer
                      pool_version_count:
                        type: integer
                      forum_post_count:
                        type: integer
                      comment_count:
                        type: integer
                      flag_count:
                        type: integer
                      favorite_count:
                        type: integer
                      positive_feedback_count:
                        type: integer
                      neutral_feedback_count:
                        type: integer
                      negative_feedback_count:
                        type: integer
                      upload_limit:
                        type: integer
                      profile_about:
                        type: string
                      profile_artinfo:
                        type: string
              - allOf:
                  - allOf:
                      - type: object
                        required:
                          - id
                          - created_at
                          - name
                          - level
                          - base_upload_limit
                          - post_upload_count
                          - post_update_count
                          - note_update_count
                          - is_banned
                          - can_approve_posts
                          - can_upload_free
                          - level_string
                          - avatar_id
                        properties:
                          id:
                            type: integer
                          created_at:
                            type: string
                            format: date-time
                          name:
                            type: string
                          level:
                            type: integer
                          base_upload_limit:
                            type: integer
                          post_upload_count:
                            type: integer
                          post_update_count:
                            type: integer
                          note_update_count:
                            type: integer
                          is_banned:
                            type: boolean
                          can_approve_posts:
                            type: boolean
                          can_upload_free:
                            type: boolean
                          level_string:
                            type: string
                          avatar_id:
                            type: integer
                            nullable: true
                      - type: object
                        required:
                          - blacklist_users
                          - description_collapsed_initially
                          - hide_comments
                          - show_hidden_comments
                          - show_post_statistics
                          - receive_email_notifications
                          - enable_keyboard_navigation
                          - enable_privacy_mode
                          - style_usernames
                          - enable_auto_complete
                          - disable_cropped_thumbnails
                          - enable_safe_mode
                          - disable_responsive_mode
                          - no_flagging
                          - disable_user_dmails
                          - enable_compact_uploader
                          - replacements_beta
                          - updated_at
                          - email
                          - last_logged_in_at
                          - last_forum_read_at
                          - recent_tags
                          - comment_threshold
                          - default_image_size
                          - favorite_tags
                          - blacklisted_tags
                          - time_zone
                          - per_page
                          - custom_style
                          - favorite_count
                          - api_regen_multiplier
                          - api_burst_limit
                          - remaining_api_limit
                          - statement_timeout
                          - favorite_limit
                          - tag_query_limit
                          - has_mail
                          - forum_notification_dot
                        properties:
                          blacklist_users:
                            type: boolean
                          description_collapsed_initially:
                            type: boolean
[...]
