openapi: "3.1.0"
info:
  title: "E621"
  summary: OpenAPI definition for E621's API.
  description: OpenAPI definition for E621's API. You can find the source [here](https://github.com/DonovanDMC/E621OpenAPI)
  contact:
    name: Donovan_DMC
    url: https://e621.net/forum_topics/46279
  version: "84dcafc8c"

servers:
  - url: https://e621.net
    description: E621 (production)
  - url: http://localhost:3000
    description: E621 (Development)

x-constants:
  - &modaction-actions
    - artist_page_rename
    - artist_page_lock
    - artist_page_unlock
    - artist_user_linked
    - artist_user_unlinked
    - avoid_posting_create
    - avoid_posting_update
    - avoid_posting_delete
    - avoid_posting_undelete
    - avoid_posting_destroy
    - blip_delete
    - blip_hide
    - blip_unhide
    - blip_update
    - comment_delete
    - comment_hide
    - comment_unhide
    - comment_update
    - forum_category_create
    - forum_category_delete
    - forum_category_update
    - forum_post_delete
    - forum_post_hide
    - forum_post_unhide
    - forum_post_update
    - forum_topic_delete
    - forum_topic_hide
    - forum_topic_unhide
    - forum_topic_lock
    - forum_topic_unlock
    - forum_topic_stick
    - forum_topic_unstick
    - forum_topic_update
    - help_create
    - help_delete
    - help_update
    - ip_ban_create
    - ip_ban_delete
    - mascot_create
    - mascot_update
    - mascot_delete
    - pool_delete
    - report_reason_create
    - report_reason_delete
    - report_reason_update
    - set_update
    - set_delete
    - set_change_visibility
    - tag_alias_create
    - tag_alias_update
    - tag_implication_create
    - tag_implication_update
    - ticket_claim
    - ticket_unclaim
    - ticket_update
    - upload_whitelist_create
    - upload_whitelist_update
    - upload_whitelist_delete
    - user_blacklist_changed
    - user_text_change
    - user_upload_limit_change
    - user_flags_change
    - user_level_change
    - user_name_change
    - user_delete
    - user_ban
    - user_ban_update
    - user_unban
    - user_feedback_create
    - user_feedback_update
    - user_feedback_delete
    - user_feedback_undelete
    - user_feedback_destroy
    - wiki_page_rename
    - wiki_page_delete
    - wiki_page_lock
    - wiki_page_unlock
    - mass_update
    - nuke_tag
    - takedown_delete
    - takedown_process
    # legacy
    - created_positive_record
    - created_neutral_record
    - created_negative_record
    - created_flag_reason
    - edited_flag_reason
    - deleted_flag_reason
    - post_move_favorites
    - post_delete
    - post_undelete
    - post_destroy
    - post_rating_lock
    - post_unapprove
    - post_replacement_accept
    - post_replacement_reject
    - post_replacement_delete
  - &post-event-actions
    - deleted
    - undeleted
    - approved
    - unapproved
    - flag_created
    - flag_removed
    - favorites_moved
    - favorites_received
    - rating_locked
    - rating_unlocked
    - status_locked
    - status_unlocked
    - note_locked
    - note_unlocked
    - comment_locked
    - comment_unlocked
    - replacement_accepted
    - replacement_rejected
    - replacement_promoted
    - replacement_deleted
    - expunged
    - changed_bg_color
  - &ratings
    - s
    - q
    - e
  - &tag-categories
    - 0 #general
    - 1 # artist
    - 3 # copyright
    - 4 # character
    - 5 # species
    - 6 # invalid
    - 7 # meta
    - 8 # lore
  - &feedback-categories
    - negative
    - neutral
    - positive
  - &tag-request-statuses
    - active
    - deleted
    - processing
    - queued
    - retired
    - error
    - pending
  - &warning-types
    - warning
    - record
    - ban
  - &pool-categories
    - collection
    - series
  - &ticket-types
    - blip
    - comment
    - dmail
    - forum
    - pool
    - post
    - set
    - user
    - wiki
  - &ticket-statuses
    - pending
    - partial
    - approved

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  parameters:
    id:
      name: search[id]
      in: query
      description: Search for a specific id.
      schema:
        type: number
    limit:
      name: limit
      in: query
      description: The maximum number of results to return. Between 0 and 320.
      schema:
        type: number
        minimum: 0
        maximum: 500
    page:
      name: page
      in: query
      description: The page number of results to get. Between 1 and 750.
      schema:
        type: number
        minimum: 1
        maximum: 750
    ip_addr:
      name: search[ip_addr]
      in: query
      description: Must be Admin+ to use. See [postgres' documentation](https://www.postgresql.org/docs/9.3/functions-net.html) for information on how this is parsed. Specifically, "is contained within or equals" (`<<=`).
      schema:
        type: string
  schemas:
    Artist:
      type: object
      required:
        - id
        - name
        - updated_at
        - is_active
        - other_names
        - group_name
        - linked_user_id
        - created_at
        - creator_id
        - is_locked
        - notes
        - urls
      properties:
        id:
          type: number
        name:
          type: string
        updated_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        other_names:
          type: array
          items:
            type: string
        group_name:
          type: string
        linked_user_id:
          type: ["null", "number"]
        created_at:
          type: string
          format: date-time
        creator_id:
          type: number
        is_locked:
          type: boolean
        notes:
          type: ["null", "string"]
    ArtistURL:
      type: object
      required:
        - id
        - artist_id
        - url
        - normalized_url
        - created_at
        - updated_at
        - is_active
      properties:
        id:
          type: number
        artist_id:
          type: number
        url:
          type: string
          format: uri
        normalized_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        artist:
          description: Only present in /artist_urls.json
          $ref: "#/components/schemas/Artist"
    ArtistVersion:
      type: object
      required:
        - id
        - artist_id
        - name
        - updater_id
        - created_at
        - updated_at
        - is_active
        - other_names
        - notes_changed
        - urls
      properties:
        id:
          type: number
        artist_id:
          type: number
        name:
          type: string
        updater_id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        other_names:
          type: array
          items:
            type: string
        notes_changed:
          type: boolean
        urls:
          type: array
          items:
            type: string
            format: uri
    AvoidPosting:
      type: object
      required:
        - id
        - creator_id
        - updater_id
        - artist_id
        - details
        - is_active
        - created_at
        - updated_at
      properties:
        id:
          type: number
        creator_id:
          type: number
        updater_id:
          type: number
        artist_id:
          type: number
        staff_notes:
          type: string
          description: Only visible to Janitor+
        details:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AvoidPostingVersion:
      type: object
      required:
        - id
        - updater_id
        - avoid_posting_id
        - details
        - is_active
        - updated_at
      properties:
        id:
          type: number
        updater_id:
          type: number
        avoid_posting_id:
          type: number
        details:
          type: string
        staff_notes:
          type: string
          description: Only visible to Janitor+
        is_active:
          type: boolean
        updated_at:
          type: string
          format: date-time
    Ban:
      type: object
      required:
        - id
        - user_id
        - reason
        - expires_at
        - banner_id
        - created_at
        - updated_at
      properties:
        id:
          type: number
        user_id:
          type: number
        reason:
          type: string
        expires_at:
          type: ["string", "null"]
          format: date-time
        banner_id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Blip:
      type: object
      required:
        - id
        - creator_id
        - body
        - response_to
        - created_at
        - updated_at
        - is_hidden
        - warning_type
        - warning_user_id
        - updater_id
        - creator_name
      properties:
        id:
          type: number
        creator_id:
          type: number
        body:
          type: string
        response_to:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_hidden:
          type: boolean
        warning_type:
          type: string
          enum: *warning-types
        warning_user_id:
          type: number
        updater_id:
          type: number
        creator_name:
          type: string
    BulkRelatedTag:
      allOf:
        - $ref: "#/components/schemas/RelatedTag"
        - type: object
          required:
            - count
          properties:
            count:
              type: number
    BulkUpdateRequest:
      type: object
      required:
        - id
        - creator_id
        - forum_topic_id
        - script
        - status
        - created_at
        - updated_at
        - approver_id
        - forum_post_id
        - title
      properties:
        id:
          type: number
        creator_id:
          type: number
        forum_topic_id:
          type: ["number", "null"]
        script:
          type: string
          examples:
            - "alias a -> b"
        status:
          type: string
          enum:
            - approved
            - rejected
            - pending
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        approver_id:
          type: ["number", "null"]
        forum_post_id:
          type: ["number", "null"]
        title:
          type: string
    Comment:
      type: object
      required:
        - id
        - created_at
        - post_id
        - creator_id
        - body
        - score
        - updated_at
        - updater_id
        - do_not_bump_post
        - is_hidden
        - is_sticky
        - warning_type
        - warning_user_id
        - creator_name
        - updater_name
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        post_id:
          type: number
        creator_id:
          type: number
        body:
          type: string
        score:
          type: number
        updated_at:
          type: string
          format: date-time
        updater_id:
          type: number
        do_not_bump_post:
          type: boolean
          deprecated: true
        is_hidden:
          type: boolean
        is_sticky:
          type: boolean
        warning_type:
          type: ["string", "null"]
          enum: *warning-types
        warning_user_id:
          type: ["number", "null"]
        creator_name:
          type: string
        updater_name:
          type: string
    CurrentUser:
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          required:
            - blacklist_users
            - description_collapsed_initially
            - hide_comments
            - show_hidden_comments
            - show_post_statistics
            - receive_email_notifications
            - enable_keyboard_navigation
            - enable_privacy_mode
            - style_usernames
            - enable_auto_complete
            - disabled_cropped_thumbnails
            - enable_safe_mode
            - disable_responsive_mode
            - no_flagging
            - disable_user_dmails
            - enable_compact_uploader
            - replacements_beta
            - updated_at
            - email
            - last_logged_in_at
            - last_forum_read_at
            - recent_tags
            - comment_threshold
            - default_image_size
            - favorite_tags
            - blacklisted_tags
            - time_zone
            - per_page
            - custom_style
            - favorite_count
            - api_regen_multiplier
            - api_burst_limit
            - remaining_api_limit
            - statement_timeout
            - favorite_limit
            - tag_query_limit
            - has_mail
          properties:
            blacklist_users:
              type: boolean
            description_collapsed_initially:
              type: boolean
            hide_comments:
              type: boolean
            show_hidden_comments:
              type: boolean
            show_post_statistics:
              type: boolean
            receive_email_notifications:
              type: boolean
            enable_keyboard_navigation:
              type: boolean
            enable_privacy_mode:
              type: boolean
            style_usernames:
              type: boolean
            enable_auto_complete:
              type: boolean
            can_approve_posts:
              type: boolean
            disabled_cropped_thumbnails:
              type: boolean
            enable_safe_mode:
              type: boolean
            disable_responsive_mode:
              type: boolean
            no_flagging:
              type: boolean
            disable_user_dmails:
              type: boolean
            enable_compact_uploader:
              type: boolean
            replacements_beta:
              type: boolean
            updated_at:
              type: string
              format: date-time
            email:
              type: string
            last_logged_in_at:
              type: string
              format: date-time
            last_forum_read_at:
              type: string
              format: date-time
            recent_tags:
              type: string
            comment_threshold:
              type: number
            default_image_sizedefault_image_size:
              type: string
              enum:
                - large
                - fit
                - fitv
                - original
            favorite_tags:
              type: string
            blacklisted_tags:
              type: string
            time_zone:
              type: string
            per_page:
              type: number
            custom_style:
              type: string
            favorite_count:
              type: number
            api_regen_multiplier:
              type: number
            api_burst_limit:
              type: number
            remaining_api_limit:
              type: number
            statement_timeout:
              type: number
            favorite_limit:
              type: number
            tag_query_limit:
              type: number
            has_mail:
              type: boolean
    DMail:
      type: object
      required:
        - id
        - owner_id
        - from_id
        - to_id
        - title
        - body
        - is_read
        - is_deleted
        - created_at
        - updated_at
      properties:
        id:
          type: number
        owner_id:
          type: number
        from_id:
          type: number
        to_id:
          type: number
        title:
          type: string
        body:
          type: string
        is_read:
          type: boolean
        is_deleted:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DeferredPost:
      type: object
      required:
        - id
        - flags
        - tags
        - rating
        - file_ext
        - width
        - height
        - size
        - created_at
        - uploader
        - uploader_id
        - score
        - fav_count
        - is_favorited
        - pools
        - md5
        - preview_url
        - large_url
        - file_url
        - preview_width
        - preview_height
      properties:
        id:
          type: number
        flags:
          type: string
        tags:
          type: string
        rating:
          type: string
          enum: *ratings
        file_ext:
          type: string
        width:
          type: number
        height:
          type: number
        size:
          type: number
        created_at:
          type: string
          format: date-time
        uploader:
          type: string
        uploader_id:
          type: number
        score:
          type: number
        fav_count:
          type: number
        is_favorited:
          type: boolean
        pools:
          type: array
          items:
            type: number
        md5:
          type: string
        preview_url:
          type: ["string", "null"]
        large_url:
          type: ["string", "null"]
        file_url:
          type: ["string", "null"]
        preview_width:
          type: number
        preview_height:
          type: number
    DTextResponse:
      type: object
      required:
        - html
        - posts
      properties:
        html:
          type: string
        posts:
          type: object
          patternProperties:
            "^0-9+$":
              $ref: "#/components/schemas/DeferredPost"
    EmailBlacklist:
      type: object
      reequired:
        - id
        - created_at
        - updated_at
        - domain
        - creator_id
        - reason
      properties:
        id:
          type: number
        created_at:
          type: string
        updated_at:
          type: string
        domain:
          type: string
        creator_id:
          type: string
        reason:
          type: string
    ForumPost:
      type: object
      required:
        - id
        - topic_id
        - creator_id
        - updater_id
        - body
        - is_hidden
        - created_at
        - updated_at
        - warning_type
        - warning_user_id
      properties:
        id:
          type: number
        topic:
          type: number
        creator_id:
          type: number
        updater_id:
          type: number
        body:
          type: string
        is_hidden:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        warning_type:
          type: ["string", "null"]
          enum: *warning-types
        warning_user_id:
          type: ["number", "null"]
    ForumTopic:
      type: object
      required:
        - id
        - creator_id
        - updater_id
        - title
        - response_count
        - is_sticky
        - is_locked
        - is_hidden
        - created_at
        - updated_at
        - category_id
      properties:
        id:
          type: number
        creator_id:
          type: number
        updater_id:
          type: number
        title:
          type: string
        response_count:
          type: number
        is_sticky:
          type: boolean
        is_locked:
          type: boolean
        is_hidden:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        category_id:
          type: number
    FullCurrentUser:
      type: object
      allOf:
        - $ref: "#/components/schemas/CurrentUser"
        - $ref: "#/components/schemas/FullUser"
    FullUser:
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          required:
            - wiki_page_version_count
            - artist_version_count
            - pool_version_count
            - forum_post_count
            - comment_count
            - flag_count
            - favorite_count
            - positive_feedback_count
            - neutral_feedback_count
            - negative_feedback_count
            - upload_limit
            - profile_about
            - profile_artinfo
          properties:
            wiki_page_version_count:
              type: number
            artist_version_count:
              type: number
            pool_version_count:
              type: number
            forum_post_count:
              type: number
            comment_count:
              type: number
            flag_count:
              type: number
            favorite_count:
              type: number
            positive_feedback_count:
              type: number
            neutral_feedback_count:
              type: number
            negative_feedback_count:
              type: number
            upload_limit:
              type: number
            profile_about:
              type: string
            profile_artinfo:
              type: string
    Help:
      type: object
      required:
        - id
        - name
        - title
        - wiki_page
        - related
        - created_at
        - updated_at
      properties:
        id:
          type: number
        name:
          type: string
        title:
          type: string
        wiki_page:
          type: string
        related:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    IPBan:
      type: object
      description: Due to a global filter, the ip_addr is not present no matter your user level.
      required:
        - id
        - creator_id
        - reason
        - created_at
        - updated_at
      properties:
        id:
          type: number
        creator_id:
          type: number
        reason:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    IQDBPost:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - up_score
        - down_score
        - score
        - source
        - md5
        - rating
        - is_note_locked
        - is_rating_locked
        - is_status_locked
        - is_pending
        - is_flagged
        - is_deleted
        - uploader_id
        - approver_id
        - last_noted_at
        - last_comment_bumped_at
        - fav_count
        - tag_string
        - tag_count
        - tag_count_general
        - tag_count_artist
        - tag_count_character
        - tag_count_copyright
        - file_ext
        - file_size
        - image_width
        - image_height
        - parent_id
        - has_children
        - last_commented_at
        - has_active_children
        - bit_flags
        - tag_count_meta
        - locked_tags
        - tag_count_species
        - tag_count_invalid
        - description
        - comment_count
        - change_seq
        - tag_count_lore
        - bg_color
        - generated_samples
        - duration
        - is_comment_disabled
        - is_comment_locked
        - has_large
        - has_visible_children
        - children_ids
        - pool_ids
        - is_favorited
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        up_score:
          type: number
        down_score:
          type: number
        score:
          type: number
        source:
          type: string
        md5:
          type: string
        rating:
          type: string
          enum: *ratings
        is_note_locked:
          type: boolean
        is_rating_locked:
          type: boolean
        is_status_locked:
          type: boolean
        is_pending:
          type: boolean
        is_flagged:
          type: boolean
        is_deleted:
          type: boolean
        uploader_id:
          type: number
        approver_id:
          type: number
        last_noted_at:
          type: ["null", "string"]
          format: date-time
        last_comment_bumped_at:
          type: ["null", "string"]
          format: date-time
        fav_count:
          type: number
        tag_string:
          type: string
        tag_count:
          type: number
        tag_count_general:
          type: number
        tag_count_artist:
          type: number
        tag_count_character:
          type: number
        tag_count_copyright:
          type: number
        file_ext:
          type: string
        file_size:
          type: number
        image_width:
          type: number
        image_height:
          type: number
        parent_id:
          type: ["null", "number"]
        has_children:
          type: boolean
        last_commented_at:
          type: ["null", "string"]
          format: date-time
        has_active_children:
          type: boolean
        bit_flags:
          type: number
        tag_count_meta:
          type: number
        locked_tags:
          type: ["null", "string"]
        tag_count_species:
          type: number
        tag_count_invalid:
          type: number
        description:
          type: string
        comment_count:
          type: number
        change_seq:
          type: number
        tag_count_lore:
          type: number
        bg_color:
          type: ["null", "string"]
        generated_samples:
          type: ["null", "array"]
          items:
            type: string
            enum:
              - 720p
              - 480p
              - original
        duration:
          type: ["null", "string"]
        is_comment_disabled:
          type: boolean
        is_comment_locked:
          type: boolean
        has_large:
          type: boolean
        has_visible_children:
          type: boolean
        children_ids:
          type: ["null", "string"]
        pool_ids:
          type: array
          items:
            type: number
        is_favorited:
          type: boolean
        file_url:
          type: string
        large_file_url:
          type: string
        preview_file_url:
          type: string
    IQDBResponse:
      type: object
      required:
        - hash
        - post_id
        - score
        - post
      properties:
        hash:
          type: string
        post_id:
          type: number
        score:
          type: number
        post:
          type: object
          required:
            - posts
          properties:
            posts:
              $ref: "#/components/schemas/IQDBPost"
    Mascot:
      type: object
      required:
        - id
        - creator_id
        - display_name
        - md5
        - file_ext
        - background_color
        - artist_url
        - artist_name
        - active
        - created_at
        - updated_at
        - available_on
        - url_path
      properties:
        id:
          type: number
        creator_id:
          type: number
        display_name:
          type: string
        md5:
          type: string
        file_ext:
          type: string
        background_color:
          type: string
        artist_url:
          type: string
          format: uri
        artist_name:
          type: string
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        available_on:
          type: array
          items:
            type: string
        url_path:
          type: string
          format: uri
    ModAction:
      type: object
      required:
        - id
        - creator_id
        - created_at
        - updated_at
        - action
      properties:
        id:
          type: number
        creator_id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        action:
          type: string
          enum: *modaction-actions
    NewsUpdate:
      type: object
      required:
        - id
        - message
        - creator_id
        - updater_id
        - created_at
        - updated_at
      properties:
        id:
          type: number
        message:
          type: string
        creator_id:
          type: number
        updater_id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Note:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - creator_id
        - x
        - y
        - width
        - height
        - version
        - is_active
        - post_id
        - body
        - creator_name
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        creator_id:
          type: number
        x:
          type: number
        y:
          type: number
        width:
          type: number
        height:
          type: number
        version:
          type: number
        is_active:
          type: boolean
        post_id:
          type: number
        body:
          type: string
        creator_name:
          type: string
    NoteVersion:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - x
        - y
        - width
        - height
        - body
        - version
        - is_active
        - note_id
        - post_id
        - updater_id
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        x:
          type: number
        y:
          type: number
        width:
          type: number
        height:
          type: number
        body:
          type: string
        version:
          type: number
        is_active:
          type: boolean
        note_id:
          type: number
        post_id:
          type: number
        updater_id:
          type: number
    Pool:
      type: object
      required:
        - id
        - name
        - created_at
        - updated_at
        - creator_id
        - description
        - is_active
        - category
        - post_ids
        - creator_name
        - post_count
      properties:
        id:
          type: number
        name:
          type: string
        updated_at:
          type: string
          format: date-time
        creator_id:
          type: number
        description:
          type: string
        is_active:
          type: boolean
        category:
          type: string
          enum: *pool-categories
        post_ids:
          type: array
          items:
            type: number
        created_at:
          type: string
          format: date-time
        creator_name:
          type: string
        post_count:
          type: number
    PoolVersion:
      type: object
      required:
        - id
        - pool_id
        - post_ids
        - updater_id
        - created_at
        - updated_at
        - name
        - name_changed
        - description
        - description_changed
        - is_active
        - is_locked
        - category
        - version
        - added_post_ids
        - removed_post_ids
      properties:
        id:
          type: number
        pool_id:
          type: number
        post_ids:
          type: array
          items:
            type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        updater_id:
          type: number
        name:
          type: string
        name_changed:
          type: boolean
        description:
          type: string
        description_changed:
          type: boolean
        is_active:
          type: boolean
        is_locked:
          type: boolean
        category:
          type: string
          enum: *pool-categories
        version:
          type: number
        added_post_ids:
          type: array
          items:
            type: number
        removed_post_ids:
          type: array
          items:
            type: number
    Post:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - file
        - preview
        - sample
        - score
        - tags
        - locked_tags
        - change_seq
        - flags
        - rating
        - fav_count
        - sources
        - pools
        - relationships
        - approver_id
        - uploader_id
        - description
        - comment_count
        - is_favorited
        - has_notes
        - duration
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        file:
          type: object
          required:
            - width
            - height
            - ext
            - size
            - md5
            - url
          properties:
            width:
              type: number
            height:
              type: number
            ext:
              type: string
            size:
              type: number
            md5:
              type: string
            url:
              type: ["string", "null"]
        preview:
          type: object
          required:
            - width
            - height
            - url
          properties:
            width:
              type: number
            height:
              type: number
            url:
              type: ["string", "null"]
        sample:
          type: object
          required:
            - has
            - height
            - width
            - url
            - alternates
          properties:
            has:
              type: boolean
            height:
              type: ["number", "null"]
            width:
              type: ["number", "null"]
            url:
              type: ["string", "null"]
            alternates:
              type: object
              properties:
                480p:
                  $ref: "#/components/schemas/PostSampleAlternate"
                720p:
                  $ref: "#/components/schemas/PostSampleAlternate"
                original:
                  $ref: "#/components/schemas/PostSampleAlternate"
        score:
          type: object
          required:
            - up
            - down
            - total
          properties:
            up:
              type: number
            down:
              type: number
            total:
              type: number
        tags:
          type: object
          required:
            - general
            - artist
            - copyright
            - character
            - species
            - invalid
            - meta
            - lore
          properties:
            general:
              type: array
              items:
                type: string
            artist:
              type: array
              items:
                type: string
            copyright:
              type: array
              items:
                type: string
            character:
              type: array
              items:
                type: string
            species:
              type: array
              items:
                type: string
            invalid:
              type: array
              items:
                type: string
            meta:
              type: array
              items:
                type: string
            lore:
              type: array
              items:
                type: string
        locked_tags:
          type: ["array", "null"]
          items:
            type: string
        change_seq:
          type: number
        flags:
          type: object
          required:
            - pending
            - flagged
            - note_locked
            - status_locked
            - rating_locked
            - deleted
          properties:
            pending:
              type: boolean
            flagged:
              type: boolean
            note_locked:
              type: boolean
            status_locked:
              type: boolean
            rating_locked:
              type: boolean
            deleted:
              type: boolean
        rating:
          type: string
          enum: *ratings
        fav_count:
          type: number
        sources:
          type: array
          items:
            type: string
        pools:
          type: array
          items:
            type: number
        relationships:
          type: object
          required:
            - parent_id
            - has_children
            - has_active_children
            - children
          properties:
            parent_id:
              type: ["number", "null"]
            has_children:
              type: boolean
            has_active_children:
              type: boolean
            children:
              type: array
              items:
                type: number
        approver_id:
          type: ["number", "null"]
        uploader_id:
          type: number
        description:
          type: string
        comment_count:
          type: number
        is_favorited:
          type: boolean
        has_notes:
          type: boolean
        duration:
          type: ["number", "null"]
    PostApproval:
      type: object
      required:
        - id
        - user_id
        - post_id
        - created_at
        - updated_at
      properties:
        id:
          type: number
        user_id:
          type: number
        post_id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostDisapproval:
      type: object
      required:
        - id
        - user_id
        - post_id
        - reason
        - message
        - created_at
        - updated_at
      properties:
        id:
          type: number
        user_id:
          type: number
        post_id:
          type: number
        reason:
          type: string
          enum:
            - borderline_quality
            - borderline_relevancy
            - other
        message:
          type: ["string", "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostEvents:
      type: object
      required:
        - id
        - creator_id
        - post_id
        - action
        - created_at
      properties:
        id:
          type: number
        creator_id:
          type: ["number", "null"]
        post_id:
          type: number
        action:
          type: string
          enum: *post-event-actions
        created_at:
          type: string
          format: date-time
    PostFlag:
      type: object
      required:
        - id
        - created_at
        - post_id
        - reason
        - creator_id
        - is_resolved
        - updated_at
        - is_deletion
        - type
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        post_id:
          type: number
        reason:
          type: string
        creator_id:
          type: ["number", "null"]
        is_resolved:
          type: boolean
        updated_at:
          type: string
          format: date-time
        is_deletion:
          type: boolean
        type:
          type: string
          enum:
            - flag
            - deletion
    PostReplacement:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - post_id
        - creator_id
        - approver_id
        - file_ext
        - file_size
        - image_height
        - image_width
        - md5
        - source
        - file_name
        - status
        - reason
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        post_id:
          type: number
        creator_id:
          type: number
        approver_id:
          type: ["number", "null"]
        file_ext:
          type: string
        file_size:
          type: number
        image_height:
          type: number
        image_width:
          type: number
        md5:
          type: string
        source:
          type: string
        file_name:
          type: string
        status:
          type: string
          enum:
            - prompted
            - approved
            - rejected
            - pending
        reason:
          type: string
    PostSampleAlternate:
      type: object
      required:
        - type
        - height
        - width
        - urls
      properties:
        type:
          type: string
          enum:
            video
        height:
          type: number
        width:
          type: number
        urls:
          type: array
          items:
            - type: ["string", "null"]
              format: "uri"
            - type: ["string", "null"]
              format: "uri"
    PostSet:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - creator_id
        - is_public
        - name
        - shortname
        - description
        - transfer_on_delete
        - post_ids
        - post_count
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        creator_id:
          type: number
        is_public:
          type: boolean
        name:
          type: string
        shortname:
          type: string
        description:
          type: string
        post_count:
          type: number
        transfer_on_delete:
          type: boolean
        post_ids:
          type: array
          items:
            type: number
    PostVersion:
      type: object
      required:
        - id
        - post_id
        - tags
        - updater_id
        - updated_at
        - rating
        - parent_id
        - source
        - description
        - reason
        - locked_tags
        - added_tags
        - removed_tags
        - added_locked_tags
        - removed_locked_tags
        - rating_changed
        - parent_changed
        - source_changed
        - description_changed
        - version
        - obsolete_added_tags
        - obsolete_removed_tags
        - unchanged_tags
        - updater_name
      properties:
        id:
          type: number
        post_id:
          type: number
        tags:
          type: string
        updater_id:
          type: number
        updated_at:
          type: string
          format: date-time
        rating:
          type: string
          enum: *ratings
        parent_id:
          type: ["number", "null"]
        source:
          type: string
        description:
          type: string
        reason:
          type: ["string", "null"]
        locked_tags:
          type: ["string", "null"]
        added_tags:
          type: array
          items:
            type: string
        removed_tags:
          type: array
          items:
            type: string
        added_locked_tags:
          type: array
          items:
            type: string
        removed_locked_tags:
          type: array
          items:
            type: string
        rating_changed:
          type: boolean
        parent_changed:
          type: boolean
        source_changed:
          type: boolean
        description_changed:
          type: boolean
        version:
          type: number
        obsolete_added_tags:
          type: string
        obsolete_removed_tags:
          type: string
        unchanged_tags:
          type: string
        updater_name:
          type: string
    RelatedTag:
      type: object
      required:
        - name
        - category_id
      properties:
        name:
          type: string
        category_id:
          type: number
          enum: *tag-categories
    Tag:
      type: object
      required:
        - id
        - name
        - post_count
        - related_tags
        - related_tags_updated_at
        - category
        - is_locked
        - created_at
        - updated_at
      properties:
        id:
          type: number
        name:
          type: string
        post_count:
          type: number
        related_tags:
          type: array
          items:
            type: string
        related_tags_updated_at:
          type: ["string", "null"]
          format: date-time
        category:
          type: number
          enum: *tag-categories
        is_locked:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TagAlias:
      type: object
      required:
        - id
        - antecedent_name
        - reason
        - creator_id
        - created_at
        - forum_post_id
        - updated_at
        - forum_topic_id
        - consequent_name
        - status
        - post_count
        - approver_id
      properties:
        id:
          type: number
        antecedent_name:
          type: string
        reason:
          type: string
        creator_id:
          type: number
        created_at:
          type: ["string", "null"]
          format: date-time
        forum_post_id:
          type: ["number", "null"]
        updated_at:
          type: ["string", "null"]
          format: date-time
        forum_topic_id:
          type: ["number", "null"]
        consequent_name:
          type: string
        status:
          type: string
          description: |
            Note: The "error" status will be proceeded by an error, ex: "error: Validation failed: A tag alias for tag_name already exists"
          enum: *tag-request-statuses
        post_count:
          type: number
        approver_id:
          type: ["number", "null"]
    TagImplication:
      type: object
      required:
        - id
        - reason
        - creator_id
        - created_at
        - forum_post_id
        - antecedent_name
        - consequent_name
        - status
        - forum_topic_id
        - updated_at
        - descendant_names
        - approver_id
      properties:
        id:
          type: number
        reason:
          type: string
        creator_id:
          type: number
        created_at:
          type: string
          format: date-time
        forum_post_id:
          type: ["number", "null"]
        antecedent_name:
          type: string
        consequent_name:
          type: string
        status:
          type: string
          description: |
            Note: The "error" status will be proceeded by an error, ex: "error: Validation failed: A tag alias for tag_name already exists"
          enum: *tag-request-statuses
        forum_topic_id:
          type: ["number", "null"]
        updated_at:
          type: string
          format: date-time
        descendant_names:
          type: array
          items:
            type: string
        approver_id:
          type: ["number", "null"]
    TagPreview:
      type: object
      required:
        - a
        - type
        - tagTypeA
      properties:
        a:
          type: string
          description: The name if type=tag, else the antecedent.
        b:
          type: string
          description: The consequent, only present if type=alias or type=implication.
        type:
          type: string
          enum:
            - tag
            - implication
            - alias
        tagTypeA:
          type: ["number", "null"]
          enum: *tag-categories
        tagTypeB:
          type: ["number", "null"]
          enum: *tag-categories
    TagTypeVersion:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - old_type
        - new_type
        - is_locked
        - tag_id
        - creator_id
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        old_type:
          type: number
          enum: *tag-categories
        new_type:
          type: number
          enum: *tag-categories
        is_locked:
          type: boolean
        tag_id:
          type: number
        creator_id:
          type: number
    Takedown:
      type: object
      required:
        - id
        - status
        - approver_id
        - reason_hidden
        - created_at
        - updated_at
        - post_count
      properties:
        id:
          tpe: number
        status:
          type: string
          enum:
            - approved
            - denied
            - partial
            - pending
        approver_id:
          type: ["number", "null"]
        reason_hidden:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        post_count:
          type: number
    Ticket:
      type: object
      required:
        - id
        - creator_id
        - reason
        - disp_id
        - qtype
        - status
        - created_at
        - updated_at
        - response
        - handler_id
        - report_reason
        - accused_id
      properties:
        id:
          type: number
        creator_id:
          type: number
        reason:
          type: string
        disp_id:
          type: number
        qtype:
          type: string
          enum: *ticket-types
        status:
          type: string
          enum: *ticket-statuses
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        response:
          type: string
        handler_id:
          type: ["number", "null"]
        claimant_id:
          type: ["number", "null"]
          description: Only visible to Moderator+.
        report_reason:
          type: ["string", "null"]
        accused_id:
          type: ["number", "null"]
    UploadWhitelist:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - pattern
        - note
        - hidden
        - allowed
        - reason
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        pattern:
          type: string
        note:
          type: string
        hidden:
          type: boolean
        allowed:
          type: boolean
        reason:
          type: string
    Upload:
      type: object
      required:
        - id
        - source
        - rating
        - uploader_id
        - tag_string
        - status
        - backtrace
        - post_id
        - md5_confirmation
        - created_at
        - updated_at
        - parent_id
        - md5
        - file_ext
        - file_size
        - image_width
        - image_height
        - description
        - uploader_name
      properties:
        id:
          type: number
        source:
          type: string
        rating:
          type: string
          enum: *ratings
        uploader_id:
          type: number
        tag_string:
          type: string
        status:
          type: string
          description: |
            Note: The "error" status will be proceeded by an error, ex: "error: RuntimeError - No file or source URL provided"
          enum:
            - completed
            - duplicate
            - error
            - processing
            - pending
        backtrace:
          type: ["string", "null"]
        post_id:
          type: ["number", "null"]
        md5_confirmation:
          type: "null"
          deprecated: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        parent_id:
          type: ["null", "number"]
        md5:
          type: ["string", "null"]
        file_ext:
          type: ["string", "number"]
        file_size:
          type: ["null", "number"]
        image_width:
          type: ["null", "number"]
        image_height:
          type: ["null", "number"]
        description:
          type: string
        uploader_name:
          type: string
    User:
      type: object
      required:
        - id
        - created_at
        - name
        - level
        - base_upload_limit
        - post_upload_count
        - post_update_count
        - note_update_count
        - is_banned
        - can_approve_posts
        - can_upload_free
        - level_string
        - avatar_id
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        name:
          type: string
        level:
          type: number
        base_upload_limit:
          type: number
        post_upload_count:
          type: number
        post_update_count:
          type: number
        note_update_count:
          type: number
        is_banned:
          type: boolean
        can_approve_posts:
          type: boolean
        can_upload_free:
          type: boolean
        level_string:
          type: string
        avatar_id:
          type: ["number", "null"]
    UserFeedback:
      type: object
      required:
        - id
        - user_id
        - creator_id
        - category
        - body
        - created_at
        - updated_at
        - updater_id
        - is_deleted
      properties:
        id:
          type: number
        user_id:
          type: number
        creator_id:
          type: number
        category:
          type: string
          enum: *feedback-categories
        body:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        updater_id:
          type: number
        is_deleted:
          type: boolean
    UserNameChangeRequest:
      type: object
      required:
        - id
        - approver_id
        - user_id
        - original_name
        - desired_name
        - created_at
        - updated_at
        - status
      properties:
        id:
          type: number
        approver_id:
          type: number
        user_id:
          type: number
        original_name:
          type: string
        desired_name:
          type: string
        change_reason:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - approved
    WikiPage:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - title
        - body
        - creator_id
        - is_locked
        - updater_id
        - is_deleted
        - other_names
        - parent
        - creator_name
        - category_id
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        title:
          type: string
        body:
          type: string
        creator_id:
          type: number
        is_locked:
          type: boolean
        updater_id:
          type: number
        is_deleted:
          type: boolean
        other_names:
          type: array
          items:
            type: string
        parent:
          type: ["string", "null"]
        creator_name:
          type: string
        category_id:
          type: number
          enum: *tag-categories
    WikiPageVersion:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - title
        - body
        - updater_id
        - wiki_page_id
        - is_locked
        - other_names
        - is_deleted
        - reason
        - parent
      properties:
        id:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        title:
          type: string
        body:
          type: string
        updater_id:
          type: number
        wiki_page_id:
          type: number
        is_locked:
          type: boolean
        other_names:
          type: array
          items:
            type: string
        is_deleted:
          type: boolean
        reason:
          type: ["string", "null"]
        parent:
          type: ["string", "null"]
  responses:
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            required:
              - success
              - reason
            properties:
              success:
                type: boolean
                enum:
                  - false
              reason:
                type: string
                enum:
                  - "not found"
    AccessDenied:
      description: Access Denied
      content:
        application/json:
          schema:
            type: object
            required:
              - success
              - reason
            properties:
              success:
                type: boolean
                enum:
                  - false
              reason:
                type: string
                enum:
                  - "Access Denied"
    ExpectedError:
      description: Invalid Input Data
      content:
        application/json:
          schema:
            type: object
            required:
              - errors
            examples:
              - { "errors": { "key": [ "the error" ] } }
            properties:
              errors:
                type: object
                patternProperties:
                  "^[a-z]+$":
                    type: array
                    items:
                      type: string
    MessageError:
      description: Error
      content:
        application/json:
          schema:
            type: object
            required:
              - success
              - message
            properties:
              success:
                type: boolean
                enum:
                  - false
              message:
                type: string
              code:
                type: ["string", "null"]
    warning:
      description: Warning
      content:
        application/json:
          type: object
          required:
            - record_type
          properties:
            record_type:
              type: string
              enum:
                - unmark
                - ban
                - record
                - warning
  requestBodies:
    warning:
      content:
        application/json:
          type: object
          required:
            - record_type
          properties:
            record_type:
              type: string
              enum:
                - unmark
                - ban
                - record
                - warning

paths:
  # Artists
  /artists.json:
    get:
      summary: Search Artists
      tags:
        - Artists
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - name: search[order]
          in: query
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
              - updated_at
              - name
              - post_count
        - name: search[name]
          in: query
          schema:
            type: string
        - name: search[group_name]
          in: query
          schema:
            type: string
        - name: search[any_other_name_like]
          in: query
          schema:
            type: string
        - name: search[any_name_matches]
          in: query
          schema:
            type: string
        - name: search[any_name_or_url_matches]
          in: query
          schema:
            type: string
        - name: search[url_matches]
          in: query
          schema:
            type: string
        - name: search[creator_name]
          in: query
          schema:
            type: string
        - name: search[creator_id]
          in: query
          schema:
            type: string
        - name: search[has_tag]
          in: query
          schema:
            type: string
        - name: search[is_linked]
          in: query
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/Artist"
                    - type: object
                      examples: [["e621.net", 1]]
                      required:
                        - domains
                        - urls
                      properties:
                        domains:
                          type: array
                          items:
                            type: array
                            items:
                              - type: string
                              - type: number
                        urls:
                          type: array
                          items:
                            $ref: "#/components/schemas/ArtistURL"
    post:
      summary: Create Artist
      tags:
        - Artists
      security:
        - basicAuth: []
      description: |
        `other_names` & `urls` are silently truncated to 25 entries.
        `notes` is silently truncated to the wiki page limit (250,000).
        Individual `other_names` are silently truncated to 100 characters.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                other_names:
                  type: array
                  items:
                    type: string
                other_names_string:
                  type: string
                url_string:
                  type: string
                notes:
                  type: string
                group_name:
                  type: string
                linked_user_id:
                  type: ["number", "null"]
                  description: Only usable for Janitor+
                is_locked:
                  type: boolean
                  description: Only usable for Janitor+
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Artist"
        403:
          $ref: "#/components/responses/AccessDenied"
        422:
          $ref: "#/components/responses/ExpectedError"
  /artists/{idOrName}.json:
    get:
      summary: Get Artist
      tags:
        - Artists
      parameters:
        - name: idOrName
          in: path
          required: true
          description: The ID or name of the artist to get.
          schema:
            type: ["number", "string"]
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Artist"
                  - type: object
                    examples: [["e621.net", 1]]
                    required:
                      - domains
                      - urls
                    properties:
                      domains:
                        type: array
                        items:
                          type: array
                          items:
                            - type: string
                            - type: number
                      urls:
                        type: array
                        items:
                          $ref: "#/components/schemas/ArtistURL"
        404:
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Edit Artist
      tags:
        - Artists
      security:
        - basicAuth: []
      description: |
        If an artist is locked, you must be Janitor+ to edit them.
        `other_names` & `urls` are silently truncated to 25 entries.
        `notes` is silently truncated to the wiki page limit (250,000).
        Individual `other_names` are silently truncated to 100 characters.
        If an artist is on the avoid posting list, you must have the bd staff user flag to edit name, other_names, or group_name.
      parameters:
        - name: idOrName
          in: path
          required: true
          description: The ID or name of the artist to edit.
          schema:
            type: ["number", "string"]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Only usable for Janitor+
                other_names:
                  type: array
                  items:
                    type: string
                other_names_string:
                  type: string
                url_string:
                  type: string
                notes:
                  type: string
                group_name:
                  type: string
                linked_user_id:
                  type: ["number", "null"]
                  description: Only usable for Janitor+
                is_locked:
                  type: boolean
                  description: Only usable for Janitor+
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
        422:
          $ref: "#/components/responses/ExpectedError"
    delete:
      summary: Delete Artist
      tags:
        - Artists
      security:
        - basicAuth: []
      description: |
        You must be an Admin+ to delete an artist.
      parameters:
        - name: idOrName
          in: path
          required: true
          description: The ID or name of the artist to edit.
          schema:
            type: ["number", "string"]
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  /artists/{idOrName}/revert.json:
    put:
      summary: Revert Artist
      tags:
        - Artists
      security:
        - basicAuth: []
      description: |
        If an artist is locked, you must be Janitor+ to revert them.
      parameters:
        - name: idOrName
          in: path
          required: true
          description: The ID or name of the artist to revert.
          schema:
            type: ["number", "string"]
        - name: version_id
          in: query
          required: true
          description: The version ID to revert to.
          schema:
            type: number
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
        422:
          $ref: "#/components/responses/ExpectedError"
  # Artist Versions
  /artist_versions.json:
    get:
      summary: Search Artist Versions
      tags:
        - Artist Versions
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/ip_addr"
        - name: search[order]
          in: query
          description: The order of the results.
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
              - name
        - name: search[name]
          in: query
          description: The name of the artist.
          schema:
            type: string
        - name: search[artist_id]
          in: query
          description: The id of the artist.
          schema:
            type: string
        - name: search[updater_name]
          in: query
          description: The name of the user that updated the artist.
          schema:
            type: string
        - name: search[updater_id]
          in: query
          description: The id of the user that updated the artist.
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ArtistVersion"
  # Artist URLs
  /artist_urls.json:
    get:
      summary: Search Artist URLs
      tags:
        - Artist URLs
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - name: search[order]
          in: query
          description: The order of the results.
          schema:
            type: string
            enum:
              - id
              - id_asc
              - id_desc
              - artist_id
              - artist_id_asc
              - artist_id_desc
              - url
              - url_asc
              - url_desc
              - normalized_url
              - normalized_url_asc
              - normalized_url_desc
              - created_at
              - created_at_asc
              - created_at_desc
              - updated_at
              - updated_at_asc
              - updated_at_desc
        - name: search[artist_name]
          in: query
          description: The name of the artist.
          schema:
            type: string
        - name: search[artist_id]
          in: query
          description: The id of the artist.
          schema:
            type: string
        - name: search[is_active]
          in: query
          description: If the artist url is active.
          schema:
            type: boolean
        - name: search[url]
          in: query
          description: The url.
          schema:
            type: string
        - name: search[normalized_url]
          in: query
          description: The normalized url. (http:, trailing `/`)
          schema:
            type: string
        - name: search[artist]
          in: query
          description: Legacy nested search for artist. Supports the same parameters as /artists.json.
          deprecated: true
          schema:
            type: object
        - name: search[url_matches]
          in: query
          description: Legacy name for `search[url]`.
          deprecated: true
          schema:
            type: string
        - name: search[normalized_url_matches]
          in: query
          description: Legacy name for `search[normalized_url]`.
          deprecated: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ArtistURL"
  # Avoid Posting Entries
  /avoid_postings.json:
    get:
      summary: Search Avoid Posting Entries
      tags:
        - Avoid Posting Entries
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/ip_addr"
        - name: search[order]
          in: query
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
        - name: search[creator_name]
          in: query
          schema:
            type: string
        - name: search[creator_id]
          in: query
          schema:
            type: string
        - name: search[any_name_matches]
          in: query
          description: Any name matching.
          schema:
            type: string
        - name: search[artist_name]
          in: query
          description: The artist name of the avoid posting entry.
          schema:
            type: string
        - name: search[artist_id]
          in: query
          description: The artist id for the avoid posting entry.
          schema:
            type: string
        - name: search[any_other_name_matches]
          in: query
          description: Any other name matching.
          schema:
            type: string
        - name: search[details]
          in: query
          description: The details of the avoid posting entry.
          schema:
            type: string
        - name: search[staff_notes]
          in: query
          description: The staff notes on the avoid posting entry. Must be Janitor+ to use.
          schema:
            type: string
        - name: search[is_active]
          in: query
          description: If the avoid posting entry is active.
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AvoidPosting"
    post:
      summary: Create Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      security:
        - basicAuth: []
      description: Must have the bd staff user flag.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - artist_attributes
              properties:
                details:
                  type: string
                staff_notes:
                  type: string
                is_active:
                  type: boolean
                artist_attributes:
                  type: object
                  description: Name or ID is required. If name is provided and the artist does not exist, an artist will be created.
                  required:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      other_names_string:
                        type: string
                      other_names:
                        type: array
                        items:
                          type: string
                      group_name:
                        type: string
                      linked_user_id:
                        type: number
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvoidPosting"
        403:
          $ref: "#/components/responses/AccessDenied"
        422:
          $ref: "#/components/responses/ExpectedError"
  /avoid_postings/{idOrArtistName}.json:
    get:
      summary: Get Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      parameters:
        - name: idOrArtistName
          in: path
          required: true
          description: The ID of the avoid posting entry, or the name of the artist.
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvoidPosting"
        404:
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Edit Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      security:
        - basicAuth: []
      description: Must have the bd staff user flag.
      parameters:
        - name: idOrArtistName
          in: path
          required: true
          description: The ID of the avoid posting entry, or the name of the artist.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                details:
                  type: string
                staff_notes:
                  type: string
                is_active:
                  type: boolean
                artist_attributes:
                  type: object
                  required:
                    type: object
                    properties:
                      name:
                        type: string
                      other_names_string:
                        type: string
                      other_names:
                        type: array
                        items:
                          type: string
                      group_name:
                        type: string
                      linked_user_id:
                        type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvoidPosting"
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
        422:
          $ref: "#/components/responses/ExpectedError"
    delete:
      summary: Destroy Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      security:
        - basicAuth: []
      description: Must have the bd staff user flag.
      parameters:
        - name: idOrArtistName
          in: path
          required: true
          description: The ID of the avoid posting entry, or the name of the artist.
          schema:
            type: string
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  /avoid_postings/{idOrArtistName}/delete.json:
    put:
      summary: Delete Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      security:
        - basicAuth: []
      description: Must have the bd staff user flag.
      parameters:
        - name: idOrArtistName
          in: path
          required: true
          description: The ID of the avoid posting entry, or the name of the artist.
          schema:
            type: string
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  /avoid_postings/{idOrArtistName}/undelete.json:
    put:
      summary: Undelete Avoid Posting Entry
      tags:
        - Avoid Posting Entries
      security:
        - basicAuth: []
      description: Must have the bd staff user flag.
      parameters:
        - name: idOrArtistName
          in: path
          required: true
          description: The ID of the avoid posting entry, or the name of the artist.
          schema:
            type: string
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  # Avoid Posting Versions
  /avoid_posting_versions.json:
    get:
      summary: Search Avoid Posting Versions
      tags:
        - Avoid Posting Versions
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/ip_addr"
        - name: search[ip_addr]
          in: query
          description: Must be Admin+ to use. See [postgres' documentation](https://www.postgresql.org/docs/9.3/functions-net.html) for information on how this is parsed. Specifically, "is contained within or equals" (`<<=`).
          schema:
            type: string
        - name: search[order]
          in: query
          description: The order of the results.
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
        - name: search[updater_name]
          in: query
          description: The name of the updater of the avoid posting entry.
          schema:
            type: string
        - name: search[updater_id]
          in: query
          description: The ID of the updater of the avoid posting entry.
          schema:
            type: string
        - name: search[any_name_matches]
          in: query
          description: Any name matching.
          schema:
            type: string
        - name: search[artist_name]
          in: query
          description: The artist name of the avoid posting entry.
          schema:
            type: string
        - name: search[artist_id]
          in: query
          description: The artist id for the avoid posting entry.
          schema:
            type: string
        - name: search[any_other_name_matches]
          in: query
          description: Any other name matching.
          schema:
            type: string
        - name: search[group_name]
          in: query
          description: Any other name matching.
          schema:
            type: string
        - name: search[is_active]
          in: query
          description: If the avoid posting entry is active.
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AvoidPostingVersion"
  # Bans
  /bans.json:
    get:
      summary: Search Bans
      tags:
        - Bans
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - name: search[order]
          in: query
          description: The order of the results.
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
              - expires_at_desc
        - name: search[banner_id]
          in: query
          description: The ID of the banner.
          schema:
            type: string
        - name: search[banner_name]
          in: query
          description: The name of banner.
          schema:
            type: string
        - name: search[user_id]
          in: query
          description: The ID of the banned user.
          schema:
            type: string
        - name: search[user_name]
          in: query
          description: The name of the banned user.
          schema:
            type: string
        - name: search[reason_matches]
          in: query
          description: The reason of the ban.
          schema:
            type: string
        - name: search[expired]
          in: query
          description: If the ban is expired.
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ban"
  /bans/{id}.json:
    get:
      summary: Get Ban
      tags:
        - Bans
      parameters:
        - name: id
          in: path
          description: The ID of the ban to get.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ban"
        404:
          $ref: "#/components/responses/NotFound"
  # Blips
  /blips.json:
    get:
      summary: Search Blips
      tags:
        - Blips
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/ip_addr"
        - name: search[order]
          in: query
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
              - updated_at
              - updated_at_desc
        - name: search[creator_id]
          in: query
          schema:
            type: number
        - name: search[creator_name]
          in: query
          schema:
            type: string
        - name: search[body_matches]
          in: query
          schema:
            type: string
        - name: search[response_to]
          in: query
          schema:
            type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Blip"
  /blips/{id}.json:
    get:
      summary: Get Blip
      tags:
        - Blips
      parameters:
        - name: id
          in: path
          description: The ID of the blip to get.
          required: true
          schema:
            type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Blip"
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Edit Blip
      tags:
        - Blips
      security:
        - basicAuth: []
      description: Unless Admin+, blips cannot be edited after 5 minutes. Marked blips cannot be edited.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - body
              properties:
                body:
                  type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateRequest"
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
        422:
          $ref: "#/components/responses/ExpectedError"
    delete:
      summary: Delete Blip
      tags:
        - Blips
      security:
        - basicAuth: []
      description: |
        You must be Admin+.
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the blip.
          schema:
            type: number
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  /blips/{id}/hide.json:
    post:
      summary: Hide Blip
      tags:
        - Blips
      security:
        - basicAuth: []
      description: |
        You must be the creator or Moderator+.
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the blip.
          schema:
            type: number
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blip"
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  /blips/{id}/unhide.json:
    post:
      summary: Unhide Blip
      tags:
        - Blips
      security:
        - basicAuth: []
      description: |
        You must be Moderator+.
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the blip.
          schema:
            type: number
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blip"
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  /blips/{id}/warning.json:
    post:
      summary: Mark Blip
      tags:
        - Blips
      security:
        - basicAuth: []
      description: You must be Moderator+.
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the blip.
          schema:
            type: number
      requestBody:
        $ref: "#/components/requestBodies/warning"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DTextResponse"
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  # Bulk Update Requests
  /bulk_update_requests.json:
    get:
      summary: Search Bulk Update Requests
      tags:
        - Bulk Update Requests
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - name: search[order]
          in: query
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
              - status_desc
              - updated_at_desc
              - updated_at_asc
        - name: search[user_id]
          in: query
          schema:
            type: number
        - name: search[user_name]
          in: query
          schema:
            type: string
        - name: search[approver_id]
          in: query
          schema:
            type: number
        - name: search[approver_name]
          in: query
          schema:
            type: string
        - name: search[forum_topic_id]
          in: query
          schema:
            type: number
        - name: search[forum_post_id]
          in: query
          schema:
            type: number
        - name: search[status]
          in: query
          schema:
            type: string
            description: Multiple can be specified via comma separating.
            enum:
              - approved
              - rejected
              - pending
        - name: search[title_matches]
          in: query
          schema:
            type: string
        - name: search[script_matches]
          in: query
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BulkUpdateRequest"
    post:
      summary: Create Bulk Update Request
      tags:
        - Bulk Update Requests
      security:
        - basicAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - script
                - title
                - reason
              properties:
                script:
                  type: string
                title:
                  type: string
                reason:
                  type: string
                forum_topic_id:
                  type: number
                skip_forum:
                  type: boolean
                  description: Only usable for Admin+
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateRequest"
        403:
          $ref: "#/components/responses/AccessDenied"
        422:
          $ref: "#/components/responses/ExpectedError"
  /bulk_update_request/{id}.json:
    get:
      summary: Get Bulk Update Request
      tags:
        - Bulk Update Requests
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the bulk update request.
          schema:
            type: number
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateRequest"
        404:
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Edit Bulk Update Request
      tags:
        - Bulk Update Requests
      security:
        - basicAuth: []
      description: You must be the creator of the BUR, or Admin+.
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the bulk update request.
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                script:
                  type: string
                forum_topic_id:
                  description: You must be Admin+.
                  type: string
                forum_post_id:
                  description: You must be Admin+.
                  type: string
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
        422:
          $ref: "#/components/responses/ExpectedError"
    delete:
      summary: Reject Bulk Update Request
      tags:
        - Bulk Update Requests
      security:
        - basicAuth: []
      description: You must be the creator of the BUR, or Admin+.
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the bulk update request.
          schema:
            type: number
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  /bulk_update_request/{id}/approve.json:
    post:
      summary: Approve Bulk Update Request
      tags:
        - Bulk Update Requests
      description: Must be Admin+.
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the bulk update request.
          schema:
            type: number
      responses:
        204:
          description: Success
        403:
          $ref: "#/components/responses/AccessDenied"
        404:
          $ref: "#/components/responses/NotFound"
  # Comments
  /comments.json:
    get:
      summary: Search Comments
      description: For searching comments, group_by=comment must be set.
      tags:
        - Comments
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/ip_addr"
        - name: search[order]
          in: query
          schema:
            type: string
            enum:
              - id_asc
              - id_desc
              - status
              - status_desc
              - updated_at_desc
        - in: query
          name: group_by
          schema:
            type: string
            enum:
              - comment
              - post
        - in: query
          name: search[body_matches]
          schema:
            type: string
        - in: query
          name: search[post_id]
          description: Accepts a comma separated list.
          schema:
            type: number
        - in: query
          name: search[post_tags_match]
          schema:
            type: string
        - in: query
          name: search[post_note_updater_name]
          schema:
            type: string
        - in: query
          name: search[post_note_updater_id]
          schema:
            type: number
        - in: query
          name: search[creator_name]
          schema:
            type: string
        - in: query
          name: search[creator_id]
          schema:
            type: number
        - in: query
          name: search[is_sticky]
          schema:
            type: boolean
        - in: query
          name: search[is_hidden]
          description: Only usable by Moderator+
          schema:
            type: boolean
        - in: query
          name: search[do_not_bump_post]
          schema:
            type: boolean
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Comment"
    post:
      summary: Create Comment
      tags:
        - Comments
      security:
        - basicAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - body
                - post_id
              properties:
                body:
                  type: string
                post_id:
                  type: number
                do_not_bump_post:
                  type: boolean
                is_sticky:
                  type: boolean
                  description: Only usable for Janitor+
                is_hidden:
                  type: boolean
                  description: Only usable for Moderator+
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        403:
          $ref: "#/components/responses/AccessDenied"
        422:
          $ref: "#/components/responses/ExpectedError"
  /comments/{id}.json:
    get:
      summary: Get Comment
      tags:
        - Comments
      description: If the comment is hidden, you must be the creator or Moderator+ to see it.
      parameters:
        - name: id
          in: path
[...]
