# yaml-language-server: $schema=https://json.schemastore.org/yamllint.json
openapi: "3.0.0"
info:
  title: "E621"
  description: |
    OpenAPI definition for E621's API. You can find the source [here](https://github.com/DonovanDMC/E621OpenAPI)<br>
    This document is intended to compliment E621's existing [API Documentation](https://e621.net/help/api).<br>
    If the api is not working, you can check this [Unofficial Status Page](https://status.e621.church).
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"

  termsOfService: https://e621.net/static/terms_of_service

  contact:
    name: Donovan_DMC
    url: https://e621.net/forum_topics/46279
  version: "4ecdf55"
  x-e621ng-commit: "__E621NG_COMMIT__"
  x-e621ng-master-behind-by: "__E621NG_MASTER_BEHIND_BY__"
  x-e621ng-master-compare-url: "__E621NG_MASTER_COMPARE_URL__"

servers:
  - url: https://e621.net
    description: E621 (Production)
  - url: https://e926.net
    description: E621 (Safe)
  - url: http://localhost:3000
    description: E621 (Development)

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    browserAuth:
      type: apiKey
      in: cookie
      name: _danbooru_session
    csrfToken:
      type: apiKey
      in: query
      name: authenticity_token
      description: "Retrieved via scraping html for the `csrf-token` meta tag."
    openId:
      type: openIdConnect
      openIdConnectUrl: https://e621.net/.well-known/openid-configuration
  parameters:
    idQuery:
      $ref: "./components/parameters/query/id.yaml"
    limitQuery:
      $ref: "./components/parameters/query/limit.yaml"
    pageQuery:
      $ref: "./components/parameters/query/page.yaml"
    ipAddrQuery:
      $ref: "./components/parameters/query/ipAddr.yaml"
    orderQuery:
      $ref: "./components/parameters/query/order.yaml"
    v2Query:
      $ref: "./components/parameters/query/v2.yaml"
    modeQuery:
      $ref: "./components/parameters/query/mode.yaml"
    idPath:
      $ref: "./components/parameters/path/id.yaml"
    idOrNamePath:
      $ref: "./components/parameters/path/idOrName.yaml"
  schemas:
    # Enums
    AppealStatus:
      $ref: "./components/schemas/enums/AppealStatus.yml"
    AppealType:
      $ref: "./components/schemas/enums/AppealType.yml"
    DBExportName:
      $ref: "./components/schemas/enums/DBExportName.yml"
    EditHistoryVersionableType:
      $ref: "./components/schemas/enums/EditHistoryVersionableType.yml"
    JWKSAlgorithm:
      $ref: "./components/schemas/enums/JWKSAlgorithm.yml"
    ModActionAction:
      $ref: "./components/schemas/enums/ModActionAction.yml"
    OAuthClaim:
      $ref: "./components/schemas/enums/OAuthClaim.yml"
    OAuthClaimType:
      $ref: "./components/schemas/enums/OAuthClaimType.yml"
    OAuthCodeChallengeMethod:
      $ref: "./components/schemas/enums/OAuthCodeChallengeMethod.yml"
    OAuthGrantType:
      $ref: "./components/schemas/enums/OAuthGrantType.yml"
    OAuthIDTokenSigningAlgValue:
      $ref: "./components/schemas/enums/OAuthIDTokenSigningAlgValue.yml"
    OAuthPermission:
      $ref: "./components/schemas/enums/OAuthPermission.yml"
    OAuthResponseMode:
      $ref: "./components/schemas/enums/OAuthResponseMode.yml"
    OAuthResponseType:
      $ref: "./components/schemas/enums/OAuthResponseType.yml"
    OAuthScope:
      $ref: "./components/schemas/enums/OAuthScope.yml"
    OAuthSubjectType:
      $ref: "./components/schemas/enums/OAuthSubjectType.yml"
    OAuthTokenEndpointAuthMethod:
      $ref: "./components/schemas/enums/OAuthTokenEndpointAuthMethod.yml"
    PoolCategory:
      $ref: "./components/schemas/enums/PoolCategory.yml"
    PostEventAction:
      $ref: "./components/schemas/enums/PostEventAction.yml"
    PostReplacementStatus:
      $ref: "./components/schemas/enums/PostReplacementStatus.yml"
    Rating:
      $ref: "./components/schemas/enums/Rating.yml"
    StaffWikiRefRelatedType:
      $ref: "./components/schemas/enums/StaffWikiRefRelatedType.yml"
    TagCategory:
      $ref: "./components/schemas/enums/TagCategory.yml"
    TagCategoryNames:
      $ref: "./components/schemas/enums/TagCategoryNames.yml"
    TagRequestStatus:
      $ref: "./components/schemas/enums/TagRequestStatus.yml"
    TicketStatus:
      $ref: "./components/schemas/enums/TicketStatus.yml"
    TicketType:
      $ref: "./components/schemas/enums/TicketType.yml"
    UpDownMehFlipVote:
      $ref: "./components/schemas/enums/UpDownMehFlipVote.yml"
    UpDownMehVote:
      $ref: "./components/schemas/enums/UpDownMehVote.yml"
    UpDownVote:
      $ref: "./components/schemas/enums/UpDownVote.yml"
    UserFeedbackCategory:
      $ref: "./components/schemas/enums/UserFeedbackCategory.yml"
    UserLevel:
      $ref: "./components/schemas/enums/UserLevel.yml"
    UserLevelName:
      $ref: "./components/schemas/enums/UserLevelName.yml"
    WarningType:
      $ref: "./components/schemas/enums/WarningType.yml"
    # Models
    APIKey:
      $ref: "./components/schemas/models/APIKey.yml"
    Appeal:
      $ref: "./components/schemas/models/Appeal.yml"
    Artist:
      $ref: "./components/schemas/models/Artist.yml"
    ArtistURL:
      $ref: "./components/schemas/models/ArtistURL.yml"
    ArtistVersion:
      $ref: "./components/schemas/models/ArtistVersion.yml"
    AvoidPosting:
      $ref: "./components/schemas/models/AvoidPosting.yml"
    AvoidPostingVersion:
      $ref: "./components/schemas/models/AvoidPostingVersion.yml"
    Ban:
      $ref: "./components/schemas/models/Ban.yml"
    BasicPost:
      $ref: "./components/schemas/models/BasicPost.yml"
    Blip:
      $ref: "./components/schemas/models/Blip.yml"
    BulkUpdateRequest:
      $ref: "./components/schemas/models/BulkUpdateRequest.yml"
    Comment:
      $ref: "./components/schemas/models/Comment.yml"
    CommentVote:
      $ref: "./components/schemas/models/CommentVote.yml"
    CurrentUser:
      $ref: "./components/schemas/models/CurrentUser.yml"
    DBExport:
      $ref: "./components/schemas/models/DBExport.yml"
    DMail:
      $ref: "./components/schemas/models/DMail.yml"
    DeferredPost:
      $ref: "./components/schemas/models/DeferredPost.yml"
    EditHistory:
      $ref: "./components/schemas/models/EditHistory.yml"
    EmailBlacklist:
      $ref: "./components/schemas/models/EmailBlacklist.yml"
    ExceptionLog:
      $ref: "./components/schemas/models/ExceptionLog.yml"
    ExtendedPost:
      $ref: "./components/schemas/models/ExtendedPost.yml"
    ForumPost:
      $ref: "./components/schemas/models/ForumPost.yml"
    ForumPostVote:
      $ref: "./components/schemas/models/ForumPostVote.yml"
    ForumTopic:
      $ref: "./components/schemas/models/ForumTopic.yml"
    FullCurrentUser:
      $ref: "./components/schemas/models/FullCurrentUser.yml"
    FullUser:
      $ref: "./components/schemas/models/FullUser.yml"
    HelpPage:
      $ref: "./components/schemas/models/HelpPage.yml"
    IPBan:
      $ref: "./components/schemas/models/IPBan.yml"
    IQDBPost:
      $ref: "./components/schemas/models/IQDBPost.yml"
    JWKS:
      $ref: "./components/schemas/models/JWKS.yml"
    JWKSKey:
      $ref: "./components/schemas/models/JWKSKey.yml"
    LegacyPost:
      $ref: "./components/schemas/models/LegacyPost.yml"
    Mascot:
      $ref: "./components/schemas/models/Mascot.yml"
    MinimalUser:
      $ref: "./components/schemas/models/MinimalUser.yml"
    ModAction:
      $ref: "./components/schemas/models/ModAction.yml"
    NewsUpdate:
      $ref: "./components/schemas/models/NewsUpdate.yml"
    Note:
      $ref: "./components/schemas/models/Note.yml"
    NoteVersion:
      $ref: "./components/schemas/models/NoteVersion.yml"
    OAuthIntrospection:
      $ref: "./components/schemas/models/OAuthIntrospection.yml"
    OAuthToken:
      $ref: "./components/schemas/models/OAuthToken.yml"
    OAuthTokenInfo:
      $ref: "./components/schemas/models/OAuthTokenInfo.yml"
    OAuthUserInfo:
      $ref: "./components/schemas/models/OAuthUserInfo.yml"
    OpenIDConfiguration:
      $ref: "./components/schemas/models/OpenIDConfiguration.yml"
    Pool:
      $ref: "./components/schemas/models/Pool.yml"
    PoolVersion:
      $ref: "./components/schemas/models/PoolVersion.yml"
    Post:
      $ref: "./components/schemas/models/Post.yml"
    PostApproval:
      $ref: "./components/schemas/models/PostApproval.yml"
    PostData:
      $ref: "./components/schemas/models/PostData.yml"
    PostDisapproval:
      $ref: "./components/schemas/models/PostDisapproval.yml"
    PostEvent:
      $ref: "./components/schemas/models/PostEvent.yml"
    PostFiles:
      $ref: "./components/schemas/models/PostFiles.yml"
    PostFilesMeta:
      $ref: "./components/schemas/models/PostFilesMeta.yml"
    PostFilesOriginal:
      $ref: "./components/schemas/models/PostFilesOriginal.yml"
    PostFilesPreview:
      $ref: "./components/schemas/models/PostFilesPreview.yml"
    PostFilesSample:
      $ref: "./components/schemas/models/PostFilesSample.yml"
    PostFlag:
      $ref: "./components/schemas/models/PostFlag.yml"
    PostFlags:
      $ref: "./components/schemas/models/PostFlags.yml"
    PostHas:
      $ref: "./components/schemas/models/PostHas.yml"
    PostRecommendation:
      $ref: "./components/schemas/models/PostRecommendation.yml"
    PostRelationships:
      $ref: "./components/schemas/models/PostRelationships.yml"
    PostReplacement:
      $ref: "./components/schemas/models/PostReplacement.yml"
    PostSampleAlternate:
      $ref: "./components/schemas/models/PostSampleAlternate.yml"
    PostSet:
      $ref: "./components/schemas/models/PostSet.yml"
    PostStats:
      $ref: "./components/schemas/models/PostStats.yml"
    PostStatsScore:
      $ref: "./components/schemas/models/PostStatsScore.yml"
    PostVersion:
      $ref: "./components/schemas/models/PostVersion.yml"
    PostVote:
      $ref: "./components/schemas/models/PostVote.yml"
    RawPost:
      $ref: "./components/schemas/models/RawPost.yml"
    RecommendedPosts:
      $ref: "./components/schemas/models/RecommendedPosts.yml"
    RisingSearchTrend:
      $ref: "./components/schemas/models/RisingSearchTrend.yml"
    SearchTrend:
      $ref: "./components/schemas/models/SearchTrend.yml"
    SearchTrendBlacklist:
      $ref: "./components/schemas/models/SearchTrendBlacklist.yml"
    SearchTrendHourly:
      $ref: "./components/schemas/models/SearchTrendHourly.yml"
    StaffFile:
      $ref: "./components/schemas/models/StaffFile.yml"
    StaffIPAddrIPListing:
      $ref: "./components/schemas/models/StaffIPAddrIPListing.yml"
    StaffIPAddrSum:
      $ref: "./components/schemas/models/StaffIPAddrSum.yml"
    StaffIPAddrSums:
      $ref: "./components/schemas/models/StaffIPAddrSums.yml"
    StaffIPAddrUserListing:
      $ref: "./components/schemas/models/StaffIPAddrUserListing.yml"
    StaffNote:
      $ref: "./components/schemas/models/StaffNote.yml"
    StaffWiki:
      $ref: "./components/schemas/models/StaffWiki.yml"
    StaffWikiVersion:
      $ref: "./components/schemas/models/StaffWikiVersion.yml"
    Stats:
      $ref: "./components/schemas/models/Stats.yml"
    Tag:
      $ref: "./components/schemas/models/Tag.yml"
    TagAlias:
      $ref: "./components/schemas/models/TagAlias.yml"
    TagCorrection:
      $ref: "./components/schemas/models/TagCorrection.yml"
    TagImplication:
      $ref: "./components/schemas/models/TagImplication.yml"
    TagPreview:
      $ref: "./components/schemas/models/TagPreview.yml"
    TagTypeVersion:
      $ref: "./components/schemas/models/TagTypeVersion.yml"
    TagWithCount:
      $ref: "./components/schemas/models/TagWithCount.yml"
    Takedown:
      $ref: "./components/schemas/models/Takedown.yml"
    ThumbnailPost:
      $ref: "./components/schemas/models/ThumbnailPost.yml"
    Ticket:
      $ref: "./components/schemas/models/Ticket.yml"
    TrackedSearchTrend:
      $ref: "./components/schemas/models/TrackedSearchTrend.yml"
    Upload:
      $ref: "./components/schemas/models/Upload.yml"
    UploadWhitelist:
      $ref: "./components/schemas/models/UploadWhitelist.yml"
    User:
      $ref: "./components/schemas/models/User.yml"
    UserAlt:
      $ref: "./components/schemas/models/UserAlt.yml"
    UserAltUser:
      $ref: "./components/schemas/models/UserAltUser.yml"
    UserAvatarMenu:
      $ref: "./components/schemas/models/UserAvatarMenu.yml"
    UserFeedback:
      $ref: "./components/schemas/models/UserFeedback.yml"
    UserNameChangeRequest:
      $ref: "./components/schemas/models/UserNameChangeRequest.yml"
    VoteTrend:
      $ref: "./components/schemas/models/VoteTrend.yml"
    VoteTrendMetatag:
      $ref: "./components/schemas/models/VoteTrendMetatag.yml"
    VoteTrendUploader:
      $ref: "./components/schemas/models/VoteTrendUploader.yml"
    WarningRecordType:
      $ref: "./components/schemas/models/WarningRecordType.yml"
    WikiPage:
      $ref: "./components/schemas/models/WikiPage.yml"
    WikiPageVersion:
      $ref: "./components/schemas/models/WikiPageVersion.yml"
    # Responses
    AccessDeniedResponse:
      $ref: "./components/schemas/responses/AccessDeniedResponse.yml"
    DTextResponse:
      $ref: "./components/schemas/responses/DTextResponse.yml"
    IQDBResponse:
      $ref: "./components/schemas/responses/IQDBResponse.yml"
    IQDBResponseV2:
      $ref: "./components/schemas/responses/IQDBResponseV2.yml"
    MessageErrorResponse:
      $ref: "./components/schemas/responses/MessageErrorResponse.yml"
    MessageSuccessResponse:
      $ref: "./components/schemas/responses/MessageSuccessResponse.yml"
    NotFoundResponse:
      $ref: "./components/schemas/responses/NotFoundResponse.yml"
    OAuthError:
      $ref: "./components/schemas/responses/OAuthError.yml"
  responses:
    NotFound:
      $ref: "./components/responses/notFound.yaml"
    AccessDenied:
      $ref: "./components/responses/accessDenied.yaml"
    OAuthUnauthorized:
      $ref: "./components/responses/oauthUnauthorized.yaml"
    ExpectedError:
      $ref: "./components/responses/expectedError.yaml"
    MessageSuccess:
      $ref: "./components/responses/messageSuccess.yaml"
    MessageError:
      $ref: "./components/responses/messageError.yaml"
    UserResponse:
      $ref: "./components/responses/user.yaml"
    PostResponse:
      $ref: "./components/responses/post.yaml"
    PostsResponse:
      $ref: "./components/responses/posts.yaml"
  requestBodies:
    warning:
      $ref: "./components/requestBodies/warning.yaml"

paths:
  /api_keys.json:
    get:
      $ref: "./paths/api_keys/index.yaml"
    post:
      $ref: "./paths/api_keys/create.yaml"
  /api_keys/{id}.json:
    delete:
      $ref: "./paths/api_keys/destroy.yaml"
  /api_keys/{id}/regenerate.json:
    post:
      $ref: "./paths/api_keys/regenerate.yaml"

  /appeals.json:
    get:
      $ref: "./paths/appeals/index.yaml"
  /appeals/{id}.json:
    get:
      $ref: "./paths/appeals/show.yaml"
    patch:
      $ref: "./paths/appeals/update.yaml"
  /appeals/{id}/claim.json:
    post:
      $ref: "./paths/appeals/claim.yaml"
  /appeals/{id}/unclaim.json:
    post:
      $ref: "./paths/appeals/unclaim.yaml"

  /artists.json:
    get:
      $ref: "./paths/artists/index.yaml"
    post:
      $ref: "./paths/artists/create.yaml"
  /artists/{idOrName}.json:
    get:
      $ref: "./paths/artists/show.yaml"
    patch:
      $ref: "./paths/artists/update.yaml"
    delete:
      $ref: "./paths/artists/destroy.yaml"
  /artists/{idOrName}/revert.json:
    put:
      $ref: "./paths/artists/revert.yaml"

  /artist_versions.json:
    get:
      $ref: "./paths/artist_versions/index.yaml"
  /artist_urls.json:
    get:
      $ref: "./paths/artist_urls/index.yaml"

  /avoid_postings.json:
    get:
      $ref: "./paths/avoid_postings/index.yaml"
    post:
      $ref: "./paths/avoid_postings/create.yaml"
  /avoid_postings/{idOrName}.json:
    get:
      $ref: "./paths/avoid_postings/show.yaml"
    patch:
      $ref: "./paths/avoid_postings/update.yaml"
    delete:
      $ref: "./paths/avoid_postings/destroy.yaml"
  /avoid_postings/{idOrName}/delete.json:
    put:
      $ref: "./paths/avoid_postings/delete.yaml"
  /avoid_postings/{idOrName}/undelete.json:
    put:
      $ref: "./paths/avoid_postings/undelete.yaml"
  /avoid_posting_versions.json:
    get:
      $ref: "./paths/avoid_posting_versions/index.yaml"

  /bans.json:
    get:
      $ref: "./paths/bans/index.yaml"
  /bans/{id}.json:
    get:
      $ref: "./paths/bans/show.yaml"

  /blips.json:
    get:
      $ref: "./paths/blips/index.yaml"
    post:
      $ref: "./paths/blips/create.yaml"
  /blips/{id}.json:
    get:
      $ref: "./paths/blips/show.yaml"
    patch:
      $ref: "./paths/blips/update.yaml"
    delete:
      $ref: "./paths/blips/destroy.yaml"
  /blips/{id}/delete.json:
    post:
      $ref: "./paths/blips/delete.yaml"
  /blips/{id}/undelete.json:
    post:
      $ref: "./paths/blips/undelete.yaml"
  /blips/{id}/warning.json:
    post:
      $ref: "./paths/blips/warning.yaml"

  /bulk_update_requests.json:
    get:
      $ref: "./paths/bulk_update_requests/index.yaml"
    post:
      $ref: "./paths/bulk_update_requests/create.yaml"
  /bulk_update_requests/{id}.json:
    get:
      $ref: "./paths/bulk_update_requests/show.yaml"
    patch:
      $ref: "./paths/bulk_update_requests/update.yaml"
    delete:
      $ref: "./paths/bulk_update_requests/destroy.yaml"
  /bulk_update_requests/{id}/approve.json:
    post:
      $ref: "./paths/bulk_update_requests/approve.yaml"

  /comments.json:
    get:
      $ref: "./paths/comments/index.yaml"
    post:
      $ref: "./paths/comments/create.yaml"
  /comments/{id}.json:
    get:
      $ref: "./paths/comments/show.yaml"
    patch:
      $ref: "./paths/comments/update.yaml"
    delete:
      $ref: "./paths/comments/destroy.yaml"
  /comments/{id}/hide.json:
    post:
      $ref: "./paths/comments/hide.yaml"
  /comments/{id}/unhide.json:
    post:
      $ref: "./paths/comments/unhide.yaml"
  /comments/{id}/warning.json:
    post:
      $ref: "./paths/comments/warning.yaml"

  /comments/{id}/votes.json:
    post:
      $ref: "./paths/comment_votes/create.yaml"
    delete:
      $ref: "./paths/comment_votes/destroy.yaml"
  /comment_votes.json:
    get:
      $ref: "./paths/comment_votes/index.yaml"
  /comment_votes/lock.json:
    post:
      $ref: "./paths/comment_votes/lock.yaml"
  /comment_votes/delete.json:
    post:
      $ref: "./paths/comment_votes/delete.yaml"

  /db_exports.json:
    get:
      $ref: "./paths/db_exports/index.yaml"
  /health:
    get:
      $ref: "./paths/health/index.yaml"
  /status.json:
    get:
      $ref: "./paths/rails/health/show.yaml"
  /.well-known/openid-configuration:
    get:
      $ref: "./paths/doorkeeper/openid_connect/discovery/provider.yaml"
  /oauth/discovery/keys:
    get:
      $ref: "./paths/doorkeeper/openid_connect/discovery/keys.yaml"
  /oauth/userinfo:
    get:
      $ref: "./paths/doorkeeper/openid_connect/userinfo/show.yaml"
  /oauth/token:
    post:
      $ref: "./paths/doorkeeper/tokens/create.yaml"
  /oauth/revoke:
    post:
      $ref: "./paths/doorkeeper/tokens/revoke.yaml"
  /oauth/introspect:
    post:
      $ref: "./paths/doorkeeper/tokens/introspect.yaml"
  /oauth/token/info:
    get:
      $ref: "./paths/doorkeeper/token_info/show.yaml"

  /dmails.json:
    get:
      $ref: "./paths/dmails/index.yaml"
  /dmails/{id}.json:
    get:
      $ref: "./paths/dmails/show.yaml"
    delete:
      $ref: "./paths/dmails/destroy.yaml"
  /dmails/{id}/mark_as_read.json:
    put:
      $ref: "./paths/dmails/mark_as_read.yaml"
  /dmails/{id}/mark_as_unread.json:
    put:
      $ref: "./paths/dmails/mark_as_unread.yaml"
  /dmails/mark_all_as_read.json:
    put:
      $ref: "./paths/dmails/mark_all_as_read.yaml"

  /dtext_preview.json:
    post:
      $ref: "./paths/dtext_previews/create.yaml"

  /edit_histories.json:
    get:
      $ref: "./paths/edit_histories/index.yaml"
  /edit_histories/{id}.json:
    get:
      $ref: "./paths/edit_histories/show.yaml"

  /email_blacklists.json:
    get:
      $ref: "./paths/email_blacklists/index.yaml"
    post:
      $ref: "./paths/email_blacklists/create.yaml"
  /email_blacklists/{id}.json:
    delete:
      $ref: "./paths/email_blacklists/destroy.yaml"

  /favorites.json:
    get:
      $ref: "./paths/favorites/index.yaml"
    post:
      $ref: "./paths/favorites/create.yaml"
  /favorites/{id}.json:
    delete:
      $ref: "./paths/favorites/destroy.yaml"

  /forum_posts.json:
    get:
      $ref: "./paths/forum_posts/index.yaml"
    post:
      $ref: "./paths/forum_posts/create.yaml"
  /forum_posts/{id}.json:
    get:
      $ref: "./paths/forum_posts/show.yaml"
    patch:
      $ref: "./paths/forum_posts/update.yaml"
    delete:
      $ref: "./paths/forum_posts/destroy.yaml"
  /forum_posts/{id}/hide.json:
    post:
      $ref: "./paths/forum_posts/hide.yaml"
  /forum_posts/{id}/unhide.json:
    post:
      $ref: "./paths/forum_posts/unhide.yaml"
  /forum_posts/{id}/warning.json:
    post:
      $ref: "./paths/forum_posts/warning.yaml"

  /forum_posts/{id}/votes.json:
    get:
      $ref: "./paths/forum_post_votes/show.yaml"
    post:
      $ref: "./paths/forum_post_votes/create.yaml"
    delete:
      $ref: "./paths/forum_post_votes/destroy.yaml"

  /forum_topics.json:
    get:
      $ref: "./paths/forum_topics/index.yaml"
    post:
      $ref: "./paths/forum_topics/create.yaml"
  /forum_topics/{id}.json:
    get:
      $ref: "./paths/forum_topics/show.yaml"
    patch:
      $ref: "./paths/forum_topics/update.yaml"
    delete:
      $ref: "./paths/forum_topics/destroy.yaml"
  /forum_topics/{id}/hide.json:
    post:
      $ref: "./paths/forum_topics/hide.yaml"
  /forum_topics/{id}/unhide.json:
    post:
      $ref: "./paths/forum_topics/unhide.yaml"
  /forum_topics/{id}/subscribe.json:
    post:
      $ref: "./paths/forum_topics/subscribe.yaml"
  /forum_topics/{id}/unsubscribe.json:
    post:
      $ref: "./paths/forum_topics/unsubscribe.yaml"
  /forum_topics/mark_all_as_read.json:
    post:
      $ref: "./paths/forum_topics/mark_all_as_read.yaml"

  /help.json:
    get:
      $ref: "./paths/help/index.yaml"
    post:
      $ref: "./paths/help/create.yaml"
  /help/list.json:
    get:
      $ref: "./paths/help/list.yaml"
  /help/{id}.json:
    get:
      $ref: "./paths/help/show.yaml"
    patch:
      $ref: "./paths/help/update.yaml"
    delete:
      $ref: "./paths/help/destroy.yaml"

  /ip_bans.json:
    get:
      $ref: "./paths/ip_bans/index.yaml"
    post:
      $ref: "./paths/ip_bans/create.yaml"
  /ip_bans/{id}.json:
    delete:
      $ref: "./paths/ip_bans/destroy.yaml"

  /iqdb_queries.json:
    get:
      $ref: "./paths/iqdb_queries/get/show.yaml"
    post:
      $ref: "./paths/iqdb_queries/post/show.yaml"

  /mascots.json:
    get:
      $ref: "./paths/mascots/index.yaml"
    post:
      $ref: "./paths/mascots/create.yaml"
  /mascots/{id}.json:
    patch:
      $ref: "./paths/mascots/update.yaml"
    delete:
      $ref: "./paths/mascots/destroy.yaml"

  /mod_actions.json:
    get:
      $ref: "./paths/mod_actions/index.yaml"
  /mod_actions/{id}.json:
    get:
      $ref: "./paths/mod_actions/show.yaml"

  /news_updates.json:
    get:
      $ref: "./paths/news_updates/index.yaml"
    post:
      $ref: "./paths/news_updates/create.yaml"
  /news_updates/{id}.json:
    patch:
      $ref: "./paths/news_updates/update.yaml"
    delete:
      $ref: "./paths/news_updates/destroy.yaml"

  /notes.json:
    get:
      $ref: "./paths/notes/index.yaml"
    post:
      $ref: "./paths/notes/create.yaml"
  /notes/{id}.json:
    get:
      $ref: "./paths/notes/show.yaml"
    patch:
      $ref: "./paths/notes/update.yaml"
    delete:
      $ref: "./paths/notes/destroy.yaml"
  /notes/{id}/revert.json:
    put:
      $ref: "./paths/notes/revert.yaml"
  /note_versions.json:
    get:
      $ref: "./paths/note_versions/index.yaml"

  /pools.json:
    get:
      $ref: "./paths/pools/index.yaml"
    post:
      $ref: "./paths/pools/create.yaml"
  /pools/{id}.json:
    get:
      $ref: "./paths/pools/show.yaml"
    patch:
      $ref: "./paths/pools/update.yaml"
    delete:
      $ref: "./paths/pools/destroy.yaml"
  /pools/{id}/revert.json:
    put:
      $ref: "./paths/pools/revert.yaml"
  /pool_element.json:
    post:
      $ref: "./paths/pool_elements/create.yaml"
    delete:
      $ref: "./paths/pool_elements/destroy.yaml"
  /pool_element/recent.json:
    get:
      $ref: "./paths/pool_elements/recent.yaml"
  /pool_versions.json:
    get:
      $ref: "./paths/pool_versions/index.yaml"

  /popular.json:
    get:
      $ref: "./paths/popular/index.yaml"

  /posts.json:
    get:
      $ref: "./paths/posts/index.yaml"
  /posts/random.json:
    get:
      $ref: "./paths/posts/random.yaml"
  /posts/count.json:
    get:
      $ref: "./paths/posts/count.yaml"
  /posts/{id}.json:
    get:
      $ref: "./paths/posts/show.yaml"
    patch:
      $ref: "./paths/posts/update.yaml"
  /posts/{id}/update_iqdb.json:
    get:
      $ref: "./paths/posts/update_iqdb.yaml"
  /posts/{id}/mark_as_translated.json:
    put:
      $ref: "./paths/posts/mark_as_translated.yaml"
  /posts/{id}/copy_notes.json:
    put:
      $ref: "./paths/posts/copy_notes.yaml"
  /posts/{id}/revert.json:
    put:
      $ref: "./paths/posts/revert.yaml"
  /posts/{id}/show_seq.json:
    get:
      $ref: "./paths/posts/show_seq.yaml"
  /posts/{id}/flag.json:
    delete:
      $ref: "./paths/post_flags/destroy.yaml"
  /posts/{id}/favorites.json:
    get:
      $ref: "./paths/post_favorites/index.yaml"
  /posts/{id}/votes.json:
    post:
      $ref: "./paths/post_votes/create.yaml"
    delete:
      $ref: "./paths/post_votes/destroy.yaml"
  /posts/{id}/comments.json:
    get:
      $ref: "./paths/comments/for_post.yaml"
  /posts/{id}/similar/artist.json:
    get:
      $ref: "./paths/post_recommendations/artist.yaml"
  /posts/{id}/similar/tags.json:
    get:
      $ref: "./paths/post_recommendations/tags.yaml"

  /post_sets.json:
    get:
      $ref: "./paths/post_sets/index.yaml"
    post:
      $ref: "./paths/post_sets/create.yaml"
  /post_sets/{id}.json:
    get:
      $ref: "./paths/post_sets/show.yaml"
    patch:
      $ref: "./paths/post_sets/update.yaml"
    delete:
      $ref: "./paths/post_sets/destroy.yaml"
  /post_sets/{id}/post_list.json:
    get:
      $ref: "./paths/post_sets/post_list.yaml"
  /post_sets/{id}/update_posts.json:
    post:
      $ref: "./paths/post_sets/update_posts.yaml"
  /post_sets/{id}/add_posts.json:
    post:
      $ref: "./paths/post_sets/add_posts.yaml"
  /post_sets/{id}/remove_posts.json:
    post:
      $ref: "./paths/post_sets/remove_posts.yaml"
  /post_sets/for_select.json:
    get:
      $ref: "./paths/post_sets/for_select.yaml"

  /post_approvals.json:
    get:
      $ref: "./paths/post_approvals/index.yaml"
  /post_events.json:
    get:
      $ref: "./paths/post_events/index.yaml"

  /post_flags.json:
    get:
      $ref: "./paths/post_flags/index.yaml"
    post:
      $ref: "./paths/post_flags/create.yaml"
  /post_flags/{id}.json:
    get:
      $ref: "./paths/post_flags/show.yaml"
  /post_flags/{id}/clear_note.json:
    post:
      $ref: "./paths/post_flags/clear_note.yaml"

  /post_replacements.json:
    get:
      $ref: "./paths/post_replacements/index.yaml"
    post:
      $ref: "./paths/post_replacements/create.yaml"
  /post_replacements/{id}.json:
    delete:
      $ref: "./paths/post_replacements/destroy.yaml"
  /post_replacements/{id}/approve.json:
    put:
      $ref: "./paths/post_replacements/approve.yaml"
  /post_replacements/{id}/reject.json:
    put:
      $ref: "./paths/post_replacements/reject.yaml"
  /post_replacements/{id}/promote.json:
    post:
      $ref: "./paths/post_replacements/promote.yaml"
  /post_replacements/{id}/toggle_penalize.json:
    put:
      $ref: "./paths/post_replacements/toggle_penalize.yaml"
  /post_replacements/{id}/transfer.json:
    put:
      $ref: "./paths/post_replacements/transfer.yaml"

  /post_versions.json:
    get:
      $ref: "./paths/post_versions/index.yaml"
  /post_versions/{id}/hide.json:
    put:
      $ref: "./paths/post_versions/hide.yaml"
  /post_versions/{id}/unhide.json:
    put:
      $ref: "./paths/post_versions/unhide.yaml"
  /post_versions/{id}/undo.json:
    put:
      $ref: "./paths/post_versions/undo.yaml"

  /post_votes.json:
    get:
      $ref: "./paths/post_votes/index.yaml"

  /post_votes/lock.json:
    post:
      $ref: "./paths/post_votes/lock.yaml"
  /post_votes/delete.json:
    post:
      $ref: "./paths/post_votes/delete.yaml"

  /tags.json:
    get:
      $ref: "./paths/tags/index.yaml"
  /tags/{id}.json:
    get:
      $ref: "./paths/tags/show.yaml"
    patch:
      $ref: "./paths/tags/update.yaml"
    delete:
      $ref: "./paths/tags/destroy.yaml"
  /tags/{id}/correction.json:
    get:
      $ref: "./paths/tag_corrections/show.yaml"
    post:
      $ref: "./paths/tag_corrections/create.yaml"
  /tags/preview.json:
    post:
      $ref: "./paths/tags/preview.yaml"

  /tag_type_versions.json:
    get:
      $ref: "./paths/tag_type_versions/index.yaml"

  /tag_aliases.json:
    get:
      $ref: "./paths/tag_aliases/index.yaml"
  /tag_aliases/{id}.json:
    get:
      $ref: "./paths/tag_aliases/show.yaml"
    patch:
      $ref: "./paths/tag_aliases/update.yaml"
    delete:
      $ref: "./paths/tag_aliases/destroy.yaml"
  /tag_aliases/{id}/approve.json:
    post:
      $ref: "./paths/tag_aliases/approve.yaml"
  /tag_aliases/{id}/undo.json:
    post:
      $ref: "./paths/tag_aliases/undo.yaml"
  /tag_alias_requests.json:
    post:
      $ref: "./paths/tag_alias_requests/create.yaml"

  /tag_implications.json:
    get:
      $ref: "./paths/tag_implications/index.yaml"
  /tag_implications/{id}.json:
    get:
      $ref: "./paths/tag_implications/show.yaml"
    patch:
      $ref: "./paths/tag_implications/update.yaml"
    delete:
      $ref: "./paths/tag_implications/destroy.yaml"
  /tag_implications/{id}/approve.json:
    post:
      $ref: "./paths/tag_implications/approve.yaml"
  /tag_implications/{id}/undo.json:
    post:
      $ref: "./paths/tag_implications/undo.yaml"
  /tag_implication_requests.json:
    post:
      $ref: "./paths/tag_implication_requests/create.yaml"

  /related_tag/bulk.json:
    post:
      $ref: "./paths/related_tags/bulk.yaml"

  /search_trends.json:
    get:
      $ref: "./paths/search_trends/index.yaml"
  /search_trends/rising.json:
    get:
      $ref: "./paths/search_trends/rising.yaml"
  /search_trends/track.json:
    get:
      $ref: "./paths/search_trends/track.yaml"
  /search_trends/clear_cache.json:
    post:
      $ref: "./paths/search_trends/clear_cache.yaml"
  /search_trends/update_settings.json:
    post:
      $ref: "./paths/search_trends/update_settings.yaml"
  /search_trends/{id}/purge.json:
    delete:
      $ref: "./paths/search_trends/purge.yaml"

  /search_trend_blacklists.json:
    get:
      $ref: "./paths/search_trend_blacklists/index.yaml"
    post:
      $ref: "./paths/search_trend_blacklists/create.yaml"
  /search_trend_blacklists/{id}.json:
    patch:
      $ref: "./paths/search_trend_blacklists/update.yaml"
    delete:
      $ref: "./paths/search_trend_blacklists/destroy.yaml"

  /search_trend_hourlies.json:
    get:
      $ref: "./paths/search_trend_hourlies/index.yaml"

  /session.json:
    post:
      $ref: "./paths/sessions/create.yaml"
    delete:
      $ref: "./paths/sessions/destroy.yaml"
  /session/verify_totp.json:
    post:
      $ref: "./paths/sessions/verify_totp.yaml"

  /staff_notes.json:
    get:
      $ref: "./paths/staff_notes/index.yaml"
    post:
      $ref: "./paths/staff_notes/create.yaml"
  /staff_notes/{id}.json:
    get:
      $ref: "./paths/staff_notes/show.yaml"
    patch:
      $ref: "./paths/staff_notes/update.yaml"
  /staff_notes/{id}/delete.json:
    put:
      $ref: "./paths/staff_notes/delete.yaml"
  /staff_notes/{id}/undelete.json:
    put:
      $ref: "./paths/staff_notes/undelete.yaml"

  /takedowns.json:
    get:
      $ref: "./paths/takedowns/index.yaml"
    post:
      $ref: "./paths/takedowns/create.yaml"
  /takedowns/{id}.json:
    get:
      $ref: "./paths/takedowns/show.yaml"
    patch:
      $ref: "./paths/takedowns/update.yaml"
    delete:
      $ref: "./paths/takedowns/destroy.yaml"
  /takedowns/{id}/add_by_ids.json:
    post:
      $ref: "./paths/takedowns/add_by_ids.yaml"
  /takedowns/{id}/add_by_tags.json:
    post:
      $ref: "./paths/takedowns/add_by_tags.yaml"
  /takedowns/{id}/count_matching_posts.json:
    post:
      $ref: "./paths/takedowns/count_matching_posts.yaml"
  /takedowns/{id}/remove_by_ids.json:
    post:
      $ref: "./paths/takedowns/remove_by_ids.yaml"

  /tickets.json:
    get:
      $ref: "./paths/tickets/index.yaml"
  /tickets/{id}.json:
    get:
      $ref: "./paths/tickets/show.yaml"
    patch:
      $ref: "./paths/tickets/update.yaml"
  /tickets/{id}/claim.json:
    post:
      $ref: "./paths/tickets/claim.yaml"
  /tickets/{id}/unclaim.json:
    post:
      $ref: "./paths/tickets/unclaim.yaml"

  /uploads.json:
    get:
      $ref: "./paths/uploads/index.yaml"
    post:
      $ref: "./paths/uploads/create.yaml"
  /uploads/{id}.json:
    get:
      $ref: "./paths/uploads/show.yaml"

  /upload_whitelists.json:
    get:
      $ref: "./paths/upload_whitelists/index.yaml"
    post:
      $ref: "./paths/upload_whitelists/create.yaml"
  /upload_whitelists/{id}.json:
    patch:
      $ref: "./paths/upload_whitelists/update.yaml"
    delete:
      $ref: "./paths/upload_whitelists/destroy.yaml"
  /upload_whitelists/is_allowed.json:
    get:
      $ref: "./paths/upload_whitelists/is_allowed.yaml"

  /users.json:
    get:
      $ref: "./paths/users/index.yaml"
  /users/me.json:
    get:
      $ref: "./paths/users/me.yaml"
  /users/avatar_menu.json:
    get:
      $ref: "./paths/users/avatar_menu.yaml"
  /users/upload_tags.json:
    get:
      $ref: "./paths/users/upload_tags.yaml"
  /users/custom_style.css:
    get:
      $ref: "./paths/users/custom_style.yaml"
  /users/{idOrName}.json:
    get:
      $ref: "./paths/users/show.yaml"
    patch:
      $ref: "./paths/users/update.yaml"
  /users/{idOrName}/upload_limit.json:
    get:
      $ref: "./paths/users/upload_limit.yaml"
  /users/{idOrName}/flush_favorites.json:
    post:
      $ref: "./paths/users/flush_favorites.yaml"
  /users/{idOrName}/fix_counts.json:
    get:
      $ref: "./paths/users/fix_counts.yaml"
  /users/{idOrName}/toggle_uploads:
    get:
      $ref: "./paths/users/toggle_uploads.yaml"
  /users/{idOrName}/toggle_karma_free:
    get:
      $ref: "./paths/users/toggle_karma_free.yaml"
  /users/{idOrName}/disable_uploads:
    post:
      $ref: "./paths/users/disable_uploads.yaml"
  /users/{idOrName}/disable_karma_free:
    post:
      $ref: "./paths/users/disable_karma_free.yaml"

  /user_reverts:
    post:
      $ref: "./paths/user_reverts/create.yaml"

  /maintenance/user/count_fixes.json:
    post:
      $ref: "./paths/maintenance/user/count_fixes/create.yaml"
  /maintenance/user/dmail_filter.json:
    patch:
      $ref: "./paths/maintenance/user/dmail_filters/update.yaml"
  /maintenance/user/avatar.json:
    patch:
      $ref: "./paths/maintenance/user/avatars/update.yaml"

  /user_feedbacks.json:
    get:
      $ref: "./paths/user_feedbacks/index.yaml"
    post:
      $ref: "./paths/user_feedbacks/create.yaml"
  /user_feedbacks/{id}.json:
    get:
      $ref: "./paths/user_feedbacks/show.yaml"
    patch:
      $ref: "./paths/user_feedbacks/update.yaml"
    delete:
      $ref: "./paths/user_feedbacks/destroy.yaml"
  /user_feedbacks/{id}/delete.json:
    put:
      $ref: "./paths/user_feedbacks/delete.yaml"
  /user_feedbacks/{id}/undelete.json:
    put:
      $ref: "./paths/user_feedbacks/undelete.yaml"

  /user_name_change_requests.json:
    get:
      $ref: "./paths/user_name_change_requests/index.yaml"
    post:
      $ref: "./paths/user_name_change_requests/create.yaml"
  /user_name_change_requests/{id}.json:
    get:
      $ref: "./paths/user_name_change_requests/show.yaml"
    delete:
      $ref: "./paths/user_name_change_requests/destroy.yaml"

  /wiki_pages.json:
    get:
      $ref: "./paths/wiki_pages/index.yaml"
    post:
      $ref: "./paths/wiki_pages/create.yaml"
  /wiki_pages/{id}.json:
    get:
      $ref: "./paths/wiki_pages/show.yaml"
    patch:
      $ref: "./paths/wiki_pages/update.yaml"
    delete:
      $ref: "./paths/wiki_pages/destroy.yaml"
  /wiki_pages/{id}/revert.json:
    put:
      $ref: "./paths/wiki_pages/revert.yaml"

  /wiki_page_versions.json:
    get:
      $ref: "./paths/wiki_page_versions/index.yaml"
  /wiki_page_versions/{id}.json:
    get:
      $ref: "./paths/wiki_page_versions/show.yaml"

  /staff/users/alt_list.json:
    get:
      $ref: "./paths/staff/users/alt_list.yaml"
  /staff/users/{id}.json:
    patch:
      $ref: "./paths/staff/users/update.yaml"
  /staff/users/{id}/anonymize_confirm:
    post:
      $ref: "./paths/staff/users/anonymize_confirm.yaml"
  /staff/users/{id}/totp_reset:
    post:
      $ref: "./paths/staff/users/totp_reset.yaml"
  /staff/users/{id}/update_blacklist:
    post:
      $ref: "./paths/staff/users/update_blacklist.yaml"

  /staff/users/{user_id}/dmails.json:
    get:
      $ref: "./paths/staff/dmails/index.yaml"
  /staff/users/{user_id}/dmails/{id}.json:
    get:
      $ref: "./paths/staff/dmails/show.yaml"

  /staff/automod_dmails.json:
    get:
      $ref: "./paths/staff/automod_dmails/index.yaml"
  /staff/automod_dmails/{id}.json:
    get:
      $ref: "./paths/staff/automod_dmails/show.yaml"
  /staff/automod_dmails/{id}/mark_as_read.json:
    put:
      $ref: "./paths/staff/automod_dmails/mark_as_read.yaml"
  /staff/automod_dmails/{id}/mark_as_unread.json:
    put:
      $ref: "./paths/staff/automod_dmails/mark_as_unread.yaml"

  /staff/exceptions.json:
    get:
      $ref: "./paths/staff/exceptions/index.yaml"
  /staff/exceptions/{id}.json:
    get:
      $ref: "./paths/staff/exceptions/show.yaml"

  /staff/post/posts/{id}/delete.json:
    post:
      $ref: "./paths/staff/post/posts/delete.yaml"
  /staff/post/posts/{id}/undelete.json:
    post:
      $ref: "./paths/staff/post/posts/undelete.yaml"
  /staff/post/posts/{id}/regenerate_thumbnails.json:
    post:
      $ref: "./paths/staff/post/posts/regenerate_thumbnails.yaml"
  /staff/post/posts/{id}/regenerate_videos.json:
    post:
      $ref: "./paths/staff/post/posts/regenerate_videos.yaml"
  /staff/post/posts/{id}/expunge.json:
    post:
      $ref: "./paths/staff/post/posts/expunge.yaml"
  /staff/post/posts/{id}/move_favorites.json:
    post:
      $ref: "./paths/staff/post/posts/move_favorites.yaml"
  /staff/post/posts/{id}/ai_check.json:
    get:
      $ref: "./paths/staff/post/posts/ai_check.yaml"
  /staff/post/posts/{id}/previous_owners.json:
    get:
      $ref: "./paths/staff/post/posts/previous_owners.yaml"
  /staff/post/posts/{id}/reowner:
    post:
      $ref: "./paths/staff/post/posts/reowner.yaml"
  /staff/post/approval.json:
    post:
      $ref: "./paths/staff/post/approvals/create.yaml"
    delete:
      $ref: "./paths/staff/post/approvals/destroy.yaml"

  /staff/user_alts.json:
    get:
      $ref: "./paths/staff/user_alts/show.yaml"

  /staff/user_cleanups/{id}/clear_avatar.json:
    post:
      $ref: "./paths/staff/user_cleanups/clear_avatar.yaml"
  /staff/user_cleanups/{id}/clear_profile.json:
    post:
      $ref: "./paths/staff/user_cleanups/clear_profile.yaml"
  /staff/user_cleanups/{id}/hide_comments.json:
    post:
      $ref: "./paths/staff/user_cleanups/hide_comments.yaml"
  /staff/user_cleanups/{id}/hide_forum_posts.json:
    post:
      $ref: "./paths/staff/user_cleanups/hide_forum_posts.yaml"
  /staff/user_cleanups/{id}/hide_blips.json:
    post:
      $ref: "./paths/staff/user_cleanups/hide_blips.yaml"

  /staff/post/disapprovals.json:
    get:
      $ref: "./paths/staff/post/disapprovals/index.yaml"
    post:
      $ref: "./paths/staff/post/disapprovals/create.yaml"

  /staff/files.json:
    get:
      $ref: "./paths/staff/files/index.yaml"
    post:
      $ref: "./paths/staff/files/create.yaml"
  /staff/files/{id}.json:
    get:
      $ref: "./paths/staff/files/show.yaml"
    patch:
      $ref: "./paths/staff/files/update.yaml"
    delete:
      $ref: "./paths/staff/files/destroy.yaml"

  /staff/wikis.json:
    get:
      $ref: "./paths/staff/wikis/index.yaml"
    post:
      $ref: "./paths/staff/wikis/create.yaml"
  /staff/wikis/{id}.json:
    get:
      $ref: "./paths/staff/wikis/show.yaml"
    patch:
      $ref: "./paths/staff/wikis/update.yaml"
    delete:
      $ref: "./paths/staff/wikis/destroy.yaml"
  /staff/wikis/{id}/claim.json:
    post:
      $ref: "./paths/staff/wikis/claim.yaml"
  /staff/wikis/{id}/unclaim.json:
    post:
      $ref: "./paths/staff/wikis/unclaim.yaml"
  /staff/wikis/{id}/revert.json:
    put:
      $ref: "./paths/staff/wikis/revert.yaml"
  /staff/wikis/{id}/references:
    post:
      $ref: "./paths/staff/wiki_refs/create.yaml"
  /staff/wikis/{wiki_id}/references/{id}:
    delete:
      $ref: "./paths/staff/wiki_refs/destroy.yaml"
  /staff/wikis/{id}/references/bulk_create:
    post:
      $ref: "./paths/staff/wiki_refs/bulk_create.yaml"

  /staff/wiki_versions.json:
    get:
      $ref: "./paths/staff/wiki_versions/index.yaml"
  /staff/wiki_versions/{id}.json:
    get:
      $ref: "./paths/staff/wiki_versions/show.yaml"

  /staff/vote_trends.json:
    get:
      $ref: "./paths/staff/vote_trends/index.yaml"

  /staff/ip_addrs.json:
    get:
      $ref: "./paths/staff/ip_addrs/index.yaml"
  /staff/ip_addrs/export.json:
    get:
      $ref: "./paths/staff/ip_addrs/export.yaml"

  /staff/reowner.json:
    post:
      $ref: "./paths/staff/reowner/create.yaml"

  /staff/stuck_dnp.json:
    post:
      $ref: "./paths/staff/stuck_dnp/create.yaml"

  /stats.json:
    get:
      $ref: "./paths/stats/index.yaml"
