# yaml-language-server: $schema=https://json.schemastore.org/yamllint.json
openapi: "3.0.0"
info:
  title: "E621"
  description: |
    OpenAPI definition for E621's API. You can find the source [here](https://github.com/DonovanDMC/E621OpenAPI)<br>
    This document is intended to compliment E621's existing [API Documentation](https://e621.net/help/api).<br>
    If the api is not working, you can check this [Unofficial Status Page](https://status.e621.church).
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"

  termsOfService: https://e621.net/static/terms_of_service

  contact:
    name: Donovan_DMC
    url: https://e621.net/forum_topics/46279
  version: "34def62"

servers:
  - url: https://e621.net
    description: E621 (production)
  - url: http://localhost:3000
    description: E621 (Development)

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  parameters:
    id:
      $ref: "./components/parameters/id.yaml"
    idOrName:
      $ref: "./components/parameters/idOrName.yaml"
    limit:
      $ref: "./components/parameters/limit.yaml"
    page:
      $ref: "./components/parameters/page.yaml"
    ip_addr:
      $ref: "./components/parameters/ipAddr.yaml"
  schemas:
    AccessDeniedResponse:
      $ref: "./components/schemas/accessDenied.yaml"
    NotFoundResponse:
      $ref: "./components/schemas/notFound.yaml"
    WarningRecordType:
      $ref: "./components/schemas/warningRecord.yaml"
    ModActionActions:
      $ref: "./components/schemas/modActionActions.yaml"
    PostEventActions:
      $ref: "./components/schemas/postEventActions.yaml"
    Ratings:
      $ref: "./components/schemas/ratings.yaml"
    TagCategories:
      $ref: "./components/schemas/tagCategories.yaml"
    FeedbackCategories:
      $ref: "./components/schemas/feedbackCategories.yaml"
    TagRequestStatuses:
      $ref: "./components/schemas/tagRequestStatuses.yaml"
    WarningTypes:
      $ref: "./components/schemas/warningTypes.yaml"
    PoolCategories:
      $ref: "./components/schemas/poolCategories.yaml"
    TicketTypes:
      $ref: "./components/schemas/ticketTypes.yaml"
    TicketStatuses:
      $ref: "./components/schemas/ticketStatuses.yaml"
    Artist:
      $ref: "./components/schemas/artist.yaml"
    ArtistURL:
      $ref: "./components/schemas/artistUrl.yaml"
    ArtistVersion:
      $ref: "./components/schemas/artistVersion.yaml"
    AvoidPosting:
      $ref: "./components/schemas/avoidPosting.yaml"
    AvoidPostingVersion:
      $ref: "./components/schemas/avoidPostingVersion.yaml"
    Ban:
      $ref: "./components/schemas/ban.yaml"
    Blip:
      $ref: "./components/schemas/blip.yaml"
    BulkRelatedTag:
      $ref: "./components/schemas/bulkRelatedTag.yaml"
    BulkUpdateRequest:
      $ref: "./components/schemas/bulkUpdateRequest.yaml"
    Comment:
      $ref: "./components/schemas/comment.yaml"
    CurrentUser:
      $ref: "./components/schemas/currentUser.yaml"
    DMail:
      $ref: "./components/schemas/dMail.yaml"
    DeferredPost:
      $ref: "./components/schemas/deferredPost.yaml"
    DTextResponse:
      $ref: "./components/schemas/dTextResponse.yaml"
    EmailBlacklist:
      $ref: "./components/schemas/emailBlacklist.yaml"
    ForumPost:
      $ref: "./components/schemas/forumPost.yaml"
    ForumPostVote:
      $ref: "./components/schemas/forumPostVote.yaml"
    ForumTopic:
      $ref: "./components/schemas/forumTopic.yaml"
    FullCurrentUser:
      $ref: "./components/schemas/fullCurrentUser.yaml"
    FullUser:
      $ref: "./components/schemas/fullUser.yaml"
    Help:
      $ref: "./components/schemas/help.yaml"
    IPBan:
      $ref: "./components/schemas/ipBan.yaml"
    IQDBPost:
      $ref: "./components/schemas/iqdbPost.yaml"
    IQDBResponse:
      $ref: "./components/schemas/iqdbResponse.yaml"
    Mascot:
      $ref: "./components/schemas/mascot.yaml"
    ModAction:
      $ref: "./components/schemas/modAction.yaml"
    NewsUpdate:
      $ref: "./components/schemas/newsUpdate.yaml"
    Note:
      $ref: "./components/schemas/note.yaml"
    NoteVersion:
      $ref: "./components/schemas/noteVersion.yaml"
    Pool:
      $ref: "./components/schemas/pool.yaml"
    PoolVersion:
      $ref: "./components/schemas/poolVersion.yaml"
    Post:
      $ref: "./components/schemas/post.yaml"
    PostApproval:
      $ref: "./components/schemas/postApproval.yaml"
    PostDisapproval:
      $ref: "./components/schemas/postDisapproval.yaml"
    PostEvent:
      $ref: "./components/schemas/postEvent.yaml"
    PostFlag:
      $ref: "./components/schemas/postFlag.yaml"
    PostReplacement:
      $ref: "./components/schemas/postReplacement.yaml"
    PostSampleAlternate:
      $ref: "./components/schemas/postSampleAlternate.yaml"
    PostSet:
      $ref: "./components/schemas/postSet.yaml"
    PostVersion:
      $ref: "./components/schemas/postVersion.yaml"
    RelatedTag:
      $ref: "./components/schemas/relatedTag.yaml"
    StaffNote:
      $ref: ./components/schemas/staffNote.yaml
    Tag:
      $ref: "./components/schemas/tag.yaml"
    TagAlias:
      $ref: "./components/schemas/tagAlias.yaml"
    TagImplication:
      $ref: "./components/schemas/tagImplication.yaml"
    TagPreview:
      $ref: "./components/schemas/tagPreview.yaml"
    TagTypeVersion:
      $ref: "./components/schemas/tagTypeVersion.yaml"
    Takedown:
      $ref: "./components/schemas/takedown.yaml"
    Ticket:
      $ref: "./components/schemas/ticket.yaml"
    UploadWhitelist:
      $ref: "./components/schemas/uploadWhitelist.yaml"
    Upload:
      $ref: "./components/schemas/upload.yaml"
    User:
      $ref: "./components/schemas/user.yaml"
    UserFeedback:
      $ref: "./components/schemas/userFeedback.yaml"
    UserNameChangeRequest:
      $ref: "./components/schemas/userNameChangeRequest.yaml"
    WikiPage:
      $ref: "./components/schemas/wikiPage.yaml"
    WikiPageVersion:
      $ref: "./components/schemas/wikiPageVersion.yaml"
  responses:
    NotFound:
      $ref: "./components/responses/notFound.yaml"
    AccessDenied:
      $ref: "./components/responses/accessDenied.yaml"
    ExpectedError:
      $ref: "./components/responses/expectedError.yaml"
    MessageError:
      $ref: "./components/responses/messageError.yaml"
    UserResponse:
      $ref: "./components/responses/user.yaml"
  requestBodies:
    warning:
      $ref: "./components/requestBodies/warning.yaml"

paths:
  /artists.json:
    get:
      $ref: "./paths/artists/index.yaml"
    post:
      $ref: "./paths/artists/create.yaml"
  /artists/{idOrName}.json:
    get:
      $ref: "./paths/artists/show.yaml"
    patch:
      $ref: "./paths/artists/update.yaml"
    delete:
      $ref: "./paths/artists/destroy.yaml"
  /artists/{idOrName}/revert.json:
    put:
      $ref: "./paths/artists/revert.yaml"

  /artist_versions.json:
    get:
      $ref: "./paths/artist_versions/index.yaml"
  /artist_urls.json:
    get:
      $ref: "./paths/artist_urls/index.yaml"

  /avoid_postings.json:
    get:
      $ref: "./paths/avoid_postings/index.yaml"
    post:
      $ref: "./paths/avoid_postings/create.yaml"
  /avoid_postings/{idOrName}.json:
    get:
      $ref: "./paths/avoid_postings/show.yaml"
    patch:
      $ref: "./paths/avoid_postings/update.yaml"
    delete:
      $ref: "./paths/avoid_postings/destroy.yaml"
  /avoid_postings/{idOrName}/delete.json:
    put:
      $ref: "./paths/avoid_postings/delete.yaml"
  /avoid_postings/{idOrName}/undelete.json:
    put:
      $ref: "./paths/avoid_postings/undelete.yaml"
  /avoid_posting_versions.json:
    get:
      $ref: "./paths/avoid_posting_versions/index.yaml"

  /bans.json:
    get:
      $ref: "./paths/bans/index.yaml"
  /bans/{id}.json:
    get:
      $ref: "./paths/bans/show.yaml"

  /blips.json:
    get:
      $ref: "./paths/blips/index.yaml"
    post:
      $ref: "./paths/blips/create.yaml"
  /blips/{id}.json:
    get:
      $ref: "./paths/blips/show.yaml"
    patch:
      $ref: "./paths/blips/update.yaml"
    delete:
      $ref: "./paths/blips/destroy.yaml"
  /blips/{id}/hide.json:
    post:
      $ref: "./paths/blips/hide.yaml"
  /blips/{id}/unhide.json:
    post:
      $ref: "./paths/blips/unhide.yaml"
  /blips/{id}/warning.json:
    post:
      $ref: "./paths/blips/warning.yaml"

  /bulk_update_requests.json:
    get:
      $ref: "./paths/bulk_update_requests/index.yaml"
    post:
      $ref: "./paths/bulk_update_requests/create.yaml"
  /bulk_update_request/{id}.json:
    get:
      $ref: "./paths/bulk_update_requests/show.yaml"
    patch:
      $ref: "./paths/bulk_update_requests/update.yaml"
    delete:
      $ref: "./paths/bulk_update_requests/destroy.yaml"
  /bulk_update_request/{id}/approve.json:
    post:
      $ref: "./paths/bulk_update_requests/approve.yaml"

  /comments.json:
    get:
      $ref: "./paths/comments/index.yaml"
    post:
      $ref: "./paths/comments/create.yaml"
  /comments/{id}.json:
    get:
      $ref: "./paths/comments/show.yaml"
    patch:
      $ref: "./paths/comments/update.yaml"
    delete:
      $ref: "./paths/comments/destroy.yaml"
  /comments/{id}/hide.json:
    post:
      $ref: "./paths/comments/hide.yaml"
  /comments/{id}/unhide.json:
    post:
      $ref: "./paths/comments/unhide.yaml"
  /comments/{id}/warning.json:
    post:
      $ref: "./paths/comments/warning.yaml"

  /comments/{id}/votes.json:
    post:
      $ref: "./paths/comments/votes/create.yaml"
    delete:
      $ref: "./paths/comments/votes/destroy.yaml"
  /comment_votes/lock.json:
    post:
      $ref: "./paths/comment_votes/lock.yaml"
  /comment_votes/delete.json:
    post:
      $ref: "./paths/comment_votes/delete.yaml"

  /dmails.json:
    get:
      $ref: "./paths/dmails/index.yaml"
  /dmails/{id}.json:
    get:
      $ref: "./paths/dmails/show.yaml"
    delete:
      $ref: "./paths/dmails/destroy.yaml"
  /dmails/{id}/mark_as_read.json:
    put:
      $ref: "./paths/dmails/mark_as_read.yaml"
  /dmails/{id}/mark_as_unread.json:
    put:
      $ref: "./paths/dmails/mark_as_unread.yaml"
  /dmails/mark_all_as_read.json:
    put:
      $ref: "./paths/dmails/mark_all_as_read.yaml"

  /dtext_preview.json:
    post:
      $ref: "./paths/dtext_preview/index.yaml"

  /email_blacklists.json:
    get:
      $ref: "./paths/email_blacklists/index.yaml"
    post:
      $ref: "./paths/email_blacklists/create.yaml"
  /email_blacklists/{id}.json:
    delete:
      $ref: "./paths/email_blacklists/destroy.yaml"

  /favorites.json:
    get:
      $ref: "./paths/favorites/index.yaml"
    post:
      $ref: "./paths/favorites/create.yaml"
  /favorites/{id}.json:
    delete:
      $ref: "./paths/favorites/destroy.yaml"

  /forum_posts.json:
    get:
      $ref: "./paths/forum_posts/index.yaml"
    post:
      $ref: "./paths/forum_posts/create.yaml"
  /forum_posts/{id}.json:
    get:
      $ref: "./paths/forum_posts/show.yaml"
    patch:
      $ref: "./paths/forum_posts/update.yaml"
    delete:
      $ref: "./paths/forum_posts/destroy.yaml"
  /forum_posts/{id}/hide.json:
    post:
      $ref: "./paths/forum_posts/hide.yaml"
  /forum_posts/{id}/unhide.json:
    post:
      $ref: "./paths/forum_posts/unhide.yaml"
  /forum_posts/{id}/warning.json:
    post:
      $ref: "./paths/forum_posts/warning.yaml"

  /forum_posts/{id}/votes.json:
    post:
      $ref: "./paths/forum_posts/votes/create.yaml"
    delete:
      $ref: "./paths/forum_posts/votes/destroy.yaml"

  /forum_topics.json:
    get:
      $ref: "./paths/forum_topics/index.yaml"
    post:
      $ref: "./paths/forum_topics/create.yaml"
  /forum_topics/{id}.json:
    get:
      $ref: "./paths/forum_topics/show.yaml"
    patch:
      $ref: "./paths/forum_topics/update.yaml"
    delete:
      $ref: "./paths/forum_topics/destroy.yaml"
  /forum_topics/{id}/hide.json:
    post:
      $ref: "./paths/forum_topics/hide.yaml"
  /forum_topics/{id}/unhide.json:
    post:
      $ref: "./paths/forum_topics/unhide.yaml"
  /forum_topics/{id}/subscribe.json:
    post:
      $ref: "./paths/forum_topics/subscribe.yaml"
  /forum_topics/{id}/unsubscribe.json:
    post:
      $ref: "./paths/forum_topics/unsubscribe.yaml"
  /forum_topics/mark_all_as_read.json:
    post:
      $ref: "./paths/forum_topics/mark_all_as_read.yaml"

  /help.json:
    get:
      $ref: "./paths/help/index.yaml"
    post:
      $ref: "./paths/help/create.yaml"
  /help/{id}.json:
    get:
      $ref: "./paths/help/show.yaml"
    patch:
      $ref: "./paths/help/update.yaml"
    delete:
      $ref: "./paths/help/destroy.yaml"

  /ip_bans.json:
    get:
      $ref: "./paths/ip_bans/index.yaml"
    post:
      $ref: "./paths/ip_bans/create.yaml"
  /ip_bans/{id}.json:
    delete:
      $ref: "./paths/ip_bans/destroy.yaml"

  /iqdb_queries.json:
    get:
      $ref: "./paths/iqdb_queries/get/show.yaml"
    post:
      $ref: "./paths/iqdb_queries/post/show.yaml"

  /mascots.json:
    get:
      $ref: "./paths/mascots/index.yaml"
    post:
      $ref: "./paths/mascots/create.yaml"
  /mascots/{id}.json:
    patch:
      $ref: "./paths/mascots/update.yaml"
    delete:
      $ref: "./paths/mascots/destroy.yaml"

  /mod_actions.json:
    get:
      $ref: "./paths/mod_actions/index.yaml"
  /mod_actions/{id}.json:
    get:
      $ref: "./paths/mod_actions/show.yaml"

  /news_updates.json:
    get:
      $ref: "./paths/news_updates/index.yaml"
    post:
      $ref: "./paths/news_updates/create.yaml"
  /news_updates/{id}.json:
    patch:
      $ref: "./paths/news_updates/update.yaml"
    delete:
      $ref: "./paths/news_updates/destroy.yaml"

  /notes.json:
    get:
      $ref: "./paths/notes/index.yaml"
    post:
      $ref: "./paths/notes/create.yaml"
  /notes/{id}.json:
    get:
      $ref: "./paths/notes/show.yaml"
    patch:
      $ref: "./paths/notes/update.yaml"
    delete:
      $ref: "./paths/notes/destroy.yaml"
  /notes/{id}/revert.json:
    post:
      $ref: "./paths/notes/revert.yaml"
  /note_versions.json:
    get:
      $ref: "./paths/note_versions/index.yaml"

  /pools.json:
    get:
      $ref: "./paths/pools/index.yaml"
    post:
      $ref: "./paths/pools/create.yaml"
  /pools/{id}.json:
    get:
      $ref: "./paths/pools/show.yaml"
    patch:
      $ref: "./paths/pools/update.yaml"
    delete:
      $ref: "./paths/pools/destroy.yaml"
  /pools/{id}/revert.json:
    put:
      $ref: "./paths/pools/revert.yaml"
  /pool_element.js:
    post:
      $ref: "./paths/pool_elements/create.yaml"
  /pool_element.json:
    delete:
      $ref: "./paths/pool_elements/destroy.yaml"
  /pool_versions.json:
    get:
      $ref: "./paths/pool_versions/index.yaml"

  /popular.json:
    get:
      $ref: "./paths/popular/index.yaml"

  /posts.json:
    get:
      $ref: "./paths/posts/index.yaml"
  /posts/{id}.json:
    get:
      $ref: "./paths/posts/show.yaml"
    patch:
      $ref: "./paths/posts/update.yaml"
  /posts/{id}/update_iqdb.json:
    get:
      $ref: "./paths/posts/update_iqdb.yaml"
  /posts/{id}/mark_as_translated.json:
    post:
      $ref: "./paths/posts/mark_as_translated.yaml"
  /posts/{id}/copy_notes.json:
    put:
      $ref: "./paths/posts/copy_notes.yaml"
  /posts/{id}/revert.json:
    post:
      $ref: "./paths/posts/revert.yaml"
  /posts/{id}/show_seq.json:
    get:
      $ref: "./paths/posts/show_seq.yaml"
  /posts/{id}/flag.json:
    delete:
      $ref: "./paths/posts/flag/destroy.yaml"
  /posts/random.json:
    get:
      $ref: "./paths/posts/random.yaml"
  /posts/{id}/votes.json:
    post:
      $ref: "./paths/posts/votes/create.yaml"
    delete:
      $ref: "./paths/posts/votes/destroy.yaml"

  /post_sets.json:
    get:
      $ref: "./paths/post_sets/index.yaml"
    post:
      $ref: "./paths/post_sets/create.yaml"
  /post_sets/{id}.json:
    get:
      $ref: "./paths/post_sets/show.yaml"
    patch:
      $ref: "./paths/post_sets/update.yaml"
    delete:
      $ref: "./paths/post_sets/destroy.yaml"
  /post_sets/{id}/update_posts.json:
    post:
      $ref: "./paths/post_sets/update_posts.yaml"
  /post_sets/{id}/add_posts.json:
    post:
      $ref: "./paths/post_sets/add_posts.yaml"
  /post_sets/{id}/remove_posts.json:
    post:
      $ref: "./paths/post_sets/remove_posts.yaml"
  /post_sets/for_select.json:
    get:
      $ref: "./paths/post_sets/for_select.yaml"

  /post_approvals.json:
    get:
      $ref: "./paths/post_approvals/index.yaml"
  /post_events.json:
    get:
      $ref: "./paths/post_events/index.yaml"

  /post_flags.json:
    get:
      $ref: "./paths/post_flags/index.yaml"
    post:
      $ref: "./paths/post_flags/create.yaml"
  /post_flags/{id}.json:
    get:
      $ref: "./paths/post_flags/show.yaml"

  /post_replacements.json:
    get:
      $ref: "./paths/post_replacements/index.yaml"
    post:
      $ref: "./paths/post_replacements/create.yaml"
  /post_replacements/{id}.json:
    delete:
      $ref: "./paths/post_replacements/destroy.yaml"
  /post_replacements/{id}/approve.json:
    put:
      $ref: "./paths/post_replacements/approve.yaml"
  /post_replacements/{id}/reject.json:
    put:
      $ref: "./paths/post_replacements/reject.yaml"
  /post_replacements/{id}/promote.json:
    post:
      $ref: "./paths/post_replacements/promote.yaml"
  /post_replacements/{id}/toggle_penalize.json:
    put:
      $ref: "./paths/post_replacements/toggle_penalize.yaml"

  /post_versions.json:
    get:
      $ref: "./paths/post_versions/index.yaml"
  /post_versions/{id}/hide.json:
    put:
      $ref: "./paths/post_versions/hide.yaml"
  /post_versions/{id}/unhide.json:
    put:
      $ref: "./paths/post_versions/unhide.yaml"

  /post_votes/lock.json:
    post:
      $ref: "./paths/post_votes/lock.yaml"
  /post_votes/delete.json:
    post:
      $ref: "./paths/post_votes/delete.yaml"

  /tags.json:
    get:
      $ref: "./paths/tags/index.yaml"
  /tags/{id}.json:
    get:
      $ref: "./paths/tags/show.yaml"
    patch:
      $ref: "./paths/tags/update.yaml"
    delete:
      $ref: "./paths/tags/destroy.yaml"
  /tags/{id}/correction.json:
    get:
      $ref: "./paths/tag_corrections/show.yaml"
    post:
      $ref: "./paths/tag_corrections/create.yaml"
  /tags/preview.json:
    get:
      $ref: "./paths/tags/preview.yaml"

  /tag_type_versions.json:
    get:
      $ref: "./paths/tag_type_versions/index.yaml"

  /tag_aliases.json:
    get:
      $ref: "./paths/tag_aliases/index.yaml"
  /tag_aliases/{id}.json:
    get:
      $ref: "./paths/tag_aliases/show.yaml"
    patch:
      $ref: "./paths/tag_aliases/update.yaml"
    delete:
      $ref: "./paths/tag_aliases/destroy.yaml"
  /tag_aliases/{id}/approve.json:
    post:
      $ref: "./paths/tag_aliases/approve.yaml"
  /tag_alias_requests.json:
    post:
      $ref: "./paths/tag_alias_requests/create.yaml"

  /tag_implications.json:
    get:
      $ref: "./paths/tag_implications/index.yaml"
  /tag_implications/{id}.json:
    get:
      $ref: "./paths/tag_implications/show.yaml"
    patch:
      $ref: "./paths/tag_implications/update.yaml"
    delete:
      $ref: "./paths/tag_implications/destroy.yaml"
  /tag_implications/{id}/approve.json:
    post:
      $ref: "./paths/tag_implications/approve.yaml"
  /tag_implication_requests.json:
    post:
      $ref: "./paths/tag_implication_requests/create.yaml"

  /related_tag/bulk.json:
    post:
      $ref: "./paths/related_tags/bulk.yaml"

  /staff_notes.json:
    get:
      $ref: "./paths/staff_notes/index.yaml"
    post:
      $ref: "./paths/staff_notes/create.yaml"
  /staff_notes/{id}.json:
    get:
      $ref: "./paths/staff_notes/show.yaml"
    patch:
      $ref: "./paths/staff_notes/update.yaml"
  /staff_notes/{id}/delete.json:
    put:
      $ref: "./paths/staff_notes/delete.yaml"
  /staff_notes/{id}/undelete.json:
    put:
      $ref: "./paths/staff_notes/undelete.yaml"

  /takedowns.json:
    get:
      $ref: "./paths/takedowns/index.yaml"
    post:
      $ref: "./paths/takedowns/create.yaml"
  /takedowns/{id}.json:
    get:
      $ref: "./paths/takedowns/show.yaml"
    patch:
      $ref: "./paths/takedowns/update.yaml"
    delete:
      $ref: "./paths/takedowns/destroy.yaml"
  /takedowns/{id}/add_by_ids.json:
    post:
      $ref: "./paths/takedowns/add_by_ids.yaml"
  /takedowns/{id}/add_by_tags.json:
    post:
      $ref: "./paths/takedowns/add_by_tags.yaml"
  /takedowns/{id}/count_matching_posts.json:
    post:
      $ref: "./paths/takedowns/count_matching_posts.yaml"
  /takedowns/{id}/remove_by_ids.json:
    post:
      $ref: "./paths/takedowns/remove_by_ids.yaml"

  /tickets.json:
    get:
      $ref: "./paths/tickets/index.yaml"
  /tickets/{id}.json:
    get:
      $ref: "./paths/tickets/show.yaml"
    patch:
      $ref: "./paths/tickets/update.yaml"
  /tickets/{id}/claim.json:
    post:
      $ref: "./paths/tickets/claim.yaml"
  /tickets/{id}/unclaim.json:
    post:
      $ref: "./paths/tickets/unclaim.yaml"

  /uploads.json:
    get:
      $ref: "./paths/uploads/index.yaml"
    post:
      $ref: "./paths/uploads/create.yaml"
  /uploads/{id}.json:
    get:
      $ref: "./paths/uploads/show.yaml"

  /upload_whitelists.json:
    get:
      $ref: "./paths/upload_whitelists/index.yaml"
    post:
      $ref: "./paths/upload_whitelists/create.yaml"
  /upload_whitelists/{id}.json:
    patch:
      $ref: "./paths/upload_whitelists/update.yaml"
    delete:
      $ref: "./paths/upload_whitelists/destroy.yaml"
  /upload_whitelists/{id}/is_allowed.json:
    get:
      $ref: "./paths/upload_whitelists/is_allowed.yaml"

  /users.json:
    get:
      $ref: "./paths/users/index.yaml"
  /users/{id}.json:
    get:
      $ref: "./paths/users/show.yaml"
    patch:
      $ref: "./paths/users/update.yaml"
  /users/{id}/upload_limit.json:
    get:
      $ref: "./paths/users/upload_limit.yaml"
  /users/{id}/flush_favorites.json:
    post:
      $ref: "./paths/users/flush_favorites.yaml"
  /users/{id}/fix_counts.json:
    get:
      $ref: "./paths/users/fix_counts.yaml"
  /users/{id}/toggle_uploads.json:
    get:
      $ref: "./paths/users/toggle_uploads.yaml"
  /maintenance/user/count_fixes.json:
    post:
      $ref: "./paths/maintenance/user/count_fixes/create.yaml"
  /maintenance/user/dmail_filter.json:
    patch:
      $ref: "./paths/maintenance/user/dmail_filters/update.yaml"

  /user_feedbacks.json:
    get:
      $ref: "./paths/user_feedbacks/index.yaml"
    post:
      $ref: "./paths/user_feedbacks/create.yaml"
  /user_feedbacks/{id}.json:
    get:
      $ref: "./paths/user_feedbacks/show.yaml"
    patch:
      $ref: "./paths/user_feedbacks/update.yaml"
    delete:
      $ref: "./paths/user_feedbacks/destroy.yaml"
  /user_feedbacks/{id}/delete.json:
    put:
      $ref: "./paths/user_feedbacks/delete.yaml"
  /user_feedbacks/{id}/undelete.json:
    put:
      $ref: "./paths/user_feedbacks/undelete.yaml"

  /user_name_change_requests.json:
    get:
      $ref: "./paths/user_name_change_requests/index.yaml"
    post:
      $ref: "./paths/user_name_change_requests/create.yaml"
  /user_name_change_requests/{id}.json:
    get:
      $ref: "./paths/user_name_change_requests/show.yaml"

  /wiki_pages.json:
    get:
      $ref: "./paths/wiki_pages/index.yaml"
    post:
      $ref: "./paths/wiki_pages/create.yaml"
  /wiki_pages/{id}.json:
    get:
      $ref: "./paths/wiki_pages/show.yaml"
    patch:
      $ref: "./paths/wiki_pages/update.yaml"
    delete:
      $ref: "./paths/wiki_pages/destroy.yaml"
  /wiki_page/{id}/revert.json:
    put:
      $ref: "./paths/wiki_pages/revert.yaml"

  /wiki_page_versions.json:
    get:
      $ref: "./paths/wiki_page_versions/index.yaml"
  /wiki_page_versions/{id}.json:
    get:
      $ref: "./paths/wiki_page_versions/show.yaml"

  /admin/users/alt_list.json:
    get:
      $ref: "./paths/admin/users/alt_list.yaml"
  /admins/users/{id}.json:
    patch:
      $ref: "./paths/admin/users/update.yaml"

  /moderator/post/posts/{id}/delete.json:
    post:
      $ref: "./paths/moderator/post/posts/delete.yaml"
  /moderator/post/posts/{id}/undelete.json:
    post:
      $ref: "./paths/moderator/post/posts/undelete.yaml"
  /moderator/post/posts/{id}/regenerate_thumbnails.json:
    post:
      $ref: "./paths/moderator/post/posts/regenerate_thumbnails.yaml"
  /moderator/post/posts/{id}/regenerate_videos.json:
    post:
      $ref: "./paths/moderator/post/posts/regenerate_videos.yaml"
  /moderator/post/posts/{id}/expunge.json:
    post:
      $ref: "./paths/moderator/post/posts/expunge.yaml"
  /moderator/post/posts/{id}/move_favorites.json:
    post:
      $ref: "./paths/moderator/post/posts/move_favorites.yaml"
  /moderator/post/approval.json:
    post:
      $ref: "./paths/moderator/post/approvals/create.yaml"
    delete:
      $ref: "./paths/moderator/post/approvals/destroy.yaml"

  /moderator/post/disapprovals.json:
    get:
      $ref: "./paths/moderator/post/disapprovals/index.yaml"
    post:
      $ref: "./paths/moderator/post/disapprovals/create.yaml"
